@media screen and (min-width: 768px) and (max-width:1023px) {
    .api_img_600_400 {
        width:100%;
        height:200px;     
    }
.api_menu_box {
    height:80px;
}
.api_header .api_temp_td_1 {
    width:auto;
}
.api_header {
    padding-left:0px; padding-right:0px;    
    width:100%;
    background-color:#efefef !important;
}
.api_header .api_big{
    font-size:13px;
}
.api_header .api_normal{
    font-size:12px;
}
.api_section{
    padding-left:0px; padding-right:0px;
    background-color:#fff;
}
.api_footer{
    padding-left:0px; padding-right:0px;
    background-color:#efefef;
}
.api_logo{
    width:80px;
}
.api_menu_box .api_big {
    font-size:14px;
}

/*-api_view_as_blog_step-*/
.api_view_as_blog_step{
    padding:15px;
}
.api_view_as_blog_step table{
    width:100%;
    margin:auto;
}
.api_view_as_blog_step .api_temp_td_1 {
    width:100%;   
    padding:15px;
}
.api_view_as_blog_step .api_temp_td_2 {
    width:100%;         
    height:400px;    
}
/*-api_view_as_blog_step-*/

/*-api_view_as_blog_step_v2-*/
.api_view_as_blog_step_v2 table{
    width:100%;
    margin:auto;
}
.api_view_as_blog_step_v2 .api_temp_td_2 {
    padding:0px;     
    width:40%;  
}
.api_view_as_blog_step_v2 .api_temp_td_2 img{
    width:100%;       
}
.api_view_as_blog_step_v2 .api_temp_td_1 {
    padding-top:0px;     
    width:auto;  
}
.api_view_as_blog_step_v2 .api_temp_title_3 {
    text-align: left;
}
/*-api_view_as_blog_step_v2-*/

/*-api_welcome_table_wrapper-*/
.api_welcome_table_wrapper .api_temp_td_2 {
    padding-top:0%;
    padding-left:25px;
    padding-right:25px;
}
.api_welcome_table_wrapper .api_temp_title_2 {
    text-align: left;
}
.api_welcome_table_wrapper{
    padding:15px;
}
.api_welcome_table_wrapper .api_temp_2 {
    padding:25px;
    padding-right:0px;
}
.api_welcome_table_wrapper .api_section {
    width:100%;
}
.api_welcome_table_wrapper .api_temp_td_2 {
    vertical-align: top;    
}
/*-api_welcome_table_wrapper-*/

/*-api_view_as_blog_step_v3-*/
.api_view_as_blog_step_v3 table{
    width:100%;
    margin:auto;
}
.api_view_as_blog_step_v3 .api_temp_td_1 {
    width:50%;   
    padding:15px;
}
.api_view_as_blog_step_v3 .api_temp_td_2 {
    width:50%;         

}
.api_view_as_blog_step_v3 .api_temp_td_3 {
    display:none;      

}
/*-api_view_as_blog_step_v3-*/

.api_footer .api_temp_td_1 {
    padding-top:0px;
    vertical-align: middle;
    text-align: center;
}

/*-api_customer_voice_header-*/
.api_customer_voice_header .api_temp_div_3{
    text-align: center;
}

/*-api_customer_voice_header-*/

.api_page_youtube_iframe {
    height:250px;
}
.api_img_blog_medium {
    width:300px;
    height:170px; 
}
.api_img_service_medium {
    width:300px;
    height:150px; 
}
.api_img_welcome_table {
    width:300px;
    height:200px; 
}
.api_img_blog_medium_v3 {
    width:400px;
    height:220px; 
}
.api_img_500_300 {
    width:350px;
    height:200px; 
}
.api_img_600_350 {
    width:350px;
    height:200px; 
}
.api_img_500_400 {
    width:100%;
    height:250px;
}
.api_menu_box {
    width:auto;
}
.api_temp_menu_td {
    width:auto;
}
}

