@media screen and (min-width: 1024px) and (max-width:1024px) {
.api_page_youtube_iframe {
    height:250px;
}

.api_header .api_temp_td_1 {
    width:auto;
}

.api_logo{
    width:150px;
}

/*-api_welcome_table_wrapper-*/
.api_welcome_table_wrapper{
    padding:15px;
}
.api_welcome_table_wrapper .api_section {
    width:100%;
}
.api_welcome_table_wrapper .api_temp_td_2 {
    vertical-align: top;    
}
/*-api_welcome_table_wrapper-*/

/*-api_customer_voice_header-*/
.api_customer_voice_header .api_temp_table_1 {
    width:auto;
}
.api_customer_voice_header .api_temp_title_2 {
    font-size:24px;
}
.api_customer_voice_header .api_temp_voice {
    font-size: 60px !important;
}
/*-api_customer_voice_header-*/

.api_img_blog_medium {
    width:400px;
    height:170px; 
}
.api_img_service_medium {
    width:300px;
    height:200px; 
}
.api_img_welcome_table {
    width:400px;
    height:250px; 
}
.api_img_600_350 {
    width:500px;
    height:300px; 
}
.api_img_500_400 {
    width:100%;
    height:400px; 
}
.api_menu_box {
    width:auto;
}
.api_temp_menu_td {
    width:auto;
}
}

