
@import url('https://fonts.googleapis.com/css?family=Khmer');
@font-face {font-family: "century-gothic";font-display: auto; font-weight: 400;src: url('../../../font/century-gothic/GOTHIC.woff') format('woff');}

.api_header_wrapper {
    width:100%;
    background-color:#efefef !important;
}
.api_header {
    padding-left:0px;padding-right:0px;
    max-width:1366px;
    margin:auto;
}
.api_section{
    padding-left:35px;padding-right:35px;  
    max-width:1366px;
    margin:auto;
    
    
    white-space: normal;    
}
.page-contents {
    min-height: 500px;
}
.api_section_wrapper{
    padding:0px;
    width:100%;
}
.api_section_full{
    padding:0px;
    width:100%;
    max-width:2000px;
    margin:auto;
}

.api_footer{
    padding-left:35px;padding-right:35px;
    max-width:1366px;
    margin:auto;
    padding-bottom:20px;
}
.api_footer_wrapper {
    background-color:#efefef !important;
    padding:0px;
    width:100%;
}
.api_body{
    background-color: #fff !important;
}

.api_big {
    font-family: 'century-gothic', 'khmer', 'heisei-kaku-gothic-std',sans-serif !important;
    color:#717171;
    font-size:20px;
    font-weight:bold;
    
    
    line-height:1.5em;
}
.api_normal {
    font-family: 'century-gothic', 'khmer', 'heisei-kaku-gothic-std',sans-serif !important;
    color:#575757;
    font-size:16px;
    font-weight:normal;
    word-wrap: break-word;
    word-break:keep-all;
    line-height:1.5em;
}
.api_ja div{
    word-wrap: break-word;
    word-break: break-all;
}
.api_ja .api_normal {
    font-family: 'century-gothic', 'khmer', 'heisei-kaku-gothic-std',sans-serif !important;
    font-weight: 300;
    font-style: normal;
    color:#575757;
}
.api_ja .api_big {
    font-family: 'century-gothic', 'khmer', 'heisei-kaku-gothic-std',sans-serif !important;
    font-weight: bold;
    font-style: normal;
    color: #717171;
}
.api_theme_color_2 {
    color:#cc4125;
}


.api_footer .api_normal {
    font-size:14px;
}
.api_large {
    font-family: 'Arial', 'khmer','heisei-kaku-gothic-std',sans-serif !important;
    color:#666666;
    font-size:30px;
    font-weight:bold;  
    
    
    line-height:1.5em;
}

/*-Header-------------------------------------------------*/

.api_header .api_temp_td_1 {
    width:30%;
}

.api_logo{
    max-width:180px;
    max-height:50px;
}
.api_menu_mobile {
    text-transform: uppercase;
}
.red .top-header ul.list-inline>li .dropdown-toggle, .red .top-header ul.list-inline>li>a {
    color: #444444;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 20%);
}

.api_language_a_link {
    color:#666666 !important;
    font-size:15px;
}
.api_language_a_link_selected {
    color:#cc4125 !important;
}

.api_language_a_link:hover {
    color:#0475bd !important;
}
.api_menu_box {
    height:110px;
    width:auto;
    display:table;
    border-bottom: 2px solid #efefef;
    cursor:pointer;
    text-transform:uppercase;  
}
.api_menu_box_selected .api_big, .api_menu_box_selected .api_normal{
    color:#cc4125 !important;
}
.api_menu_box_selected{
    border-bottom: 2px solid #cc4125;
}
.api_menu_box:hover{
    border-bottom: 2px solid #cc4125;
}
.api_menu_box:hover .api_big{
    color:#cc4125 !important;
}
.api_menu_box:hover .api_normal{
    color:#cc4125 !important;
}

.sticky {
    top:0px;
}
#api_menu_mobile_button {
    color:#666666;
}
/*-Header-------------------------------------------------*/

/*-section-------------------------------------------------*/



/*-section-------------------------------------------------*/

/*-Footer-------------------------------------------------*/
.api_footer .api_temp_td_1 {
    padding-top:32px;
    vertical-align: top;
    text-align: center;
}
.api_footer_link {
    color:#666666 !important;
    text-transform:capitalize;
}
.api_footer_link:hover {
    color:#f44336 !important;
}
.back-to-top {
    background-color: #f44336;
    color:#fff !important;
}
.back-to-top:hover {
    background-color: #0475bd;
    color:#fff !important;
}
/*-Footer-------------------------------------------------*/

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background-color: #FFF;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3399CC;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #323232;
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0% { 
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes spin {
0% { 
    -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);  /* IE 9 */
    transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
}
100% {
    -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);  /* IE 9 */
    transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
}

}

.api_button_view_map {
    border:1px solid #6b6b6b;
    text-align:center;
    padding:15px;
    padding-top:10px;
    padding-bottom:10px;
    width:200px;
    cursor:pointer;
}
.api_button_view_map:hover {
    color:#f44336;
    border:1px solid #f44336;
}


.api_youtube_video_1 {
    width:100%;
    height:300px;
}



/*-api_display_blog---------------------------------*/
.api_display_blog .api_image_wrapper{
    width:150px;
}
.api_display_blog .api_intro_wrapper{
    padding-left:15px;
    padding-right:15px;
    
    
}
.api_display_blog .api_temp_intro{
    line-height: 1.5em;
    height: 4.5em;
    overflow: hidden;
    text-align: left;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    
    
    white-space: normal;
}
.api_display_blog .api_temp_intro_en {
    line-height: 1.5em;
    height: 4.5em;
}
.api_display_blog .api_temp_intro_ja {
    line-height: 1.7em;
    height: 5.1em;
}
.api_display_blog .api_temp_tr:hover {
    background-color:#efefef;
}
/*-api_display_blog---------------------------------*/

/*-api_display_large_icon---------------------------------*/
.api_display_large_icon .api_title{
    text-transform: capitalize;

    overflow: hidden;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;   
}
.api_display_large_icon .api_title_en {
    line-height: 1.3em;
    height: 2.6em;
}
.api_display_large_icon .api_title_ja {
    line-height: 1.7em;
    height: 3.4em;
}
.api_display_large_icon .api_intro{
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
    text-align: center;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    
    
    white-space: normal;    
}
.api_display_large_icon .api_intro_en {
    line-height: 1.5em;
    height: 3em;
}
.api_display_large_icon .api_intro_ja {
    line-height: 1.7em;
    height: 3.4em;
}
.api_display_large_icon .api_button_readmore {
    margin:auto;
}
/*-api_display_large_icon---------------------------------*/

/*-api_title---------------------------------*/
.api_title_1 {
    text-transform: uppercase;
    letter-spacing:1px;
    display:inline-block;
    padding-left:35px;
    padding-right:35px;
    padding-bottom:5px;
    border-bottom:4px solid #666666;
    text-align:center; 
    font-size:30px;   
}
/*-api_title---------------------------------*/

/*-api_button---------------------------------*/
.api_button_readmore {
    font-size:20px;
    text-transform: uppercase;
    font-weight:bold;
    width:160px;
    padding-bottom:5px;
    border-bottom:1px solid #666666;
    text-align:center;
    cursor:pointer;
    color: #717171;
}
.api_button_readmore:hover {
    color:#f44336 !important;
    border-bottom:1px solid #f44336 !important;
}
.api_button_1 {
    border:3px solid #666666;
    font-size:16px;
    text-align:center;
    padding:15px;
    padding-top:20px;
    padding-bottom:20px;
    width:240px;
    display: inline-block;
    cursor:pointer;
    /* text-transform:capitalize; */
    color:#666666 !important;
}
.api_button_1:hover {
    color:#f44336 !important;
    border:3px solid #f44336;
}
/*-api_button---------------------------------*/


/*-api_page_header---------------------------------*/
.api_page_header_blog_detail_arrow {
    padding-bottom:15px;

}
.api_page_header_blog_detail_arrow .api_temp_1 {
    background-color:#efefef;
    border:1px solid #b7b7b7;
    padding:5px;
    padding-left:15px;
    padding-right:15px;
    text-align: center;
    cursor:pointer;
}
.api_page_header_blog_detail_arrow .api_temp_1_selected {
    background-color:#f44336;
    border:1px solid #cf2114;
    color:#fff;
    padding:5px;
    padding-left:15px;
    padding-right:15px;
    text-align: center;
    cursor:pointer;
}
.api_page_header_blog_detail_arrow .api_temp_1:hover {
    background-color:#f44336;
    color:#fff;
    border:1px solid #cf2114;
}

/*-api_page_header---------------------------------*/




.api_temp_featured_wrapper table{
    width:900px;
    margin:auto;
}
.api_temp_featured_wrapper .api_temp_td_1{
    background-color:#f3f3f3;
    text-align:center;
    padding-top:30px;
    padding-bottom:30px;
    padding-left:30px;
    padding-right:30px;
}


/*-api_view_as_blog_step-*/
.api_view_as_blog_step .api_temp_title_1 {
    text-transform: capitalize;
    /* text-align: left;
    padding-left:35px; */
}
.api_view_as_blog_step .api_temp_title_2 {
    text-transform: capitalize;
    font-size:28px;
    line-height: 1.2em;
    color:#cc4125;
}
.api_ja .api_view_as_blog_step .api_temp_title_2 {
    font-size:30px;
    line-height: 1.5em;
}
.api_view_as_blog_step .api_temp_title_3 {
    text-align: left;
    padding: 15px;
}
.api_view_as_blog_step .api_temp_td_2 {
    background-size:cover;
    width:400px;         
    padding:25px;
    padding-bottom:30px;
}
.api_view_as_blog_step .api_temp_number {
    font-size:60px;
    color:#fff;
    font-weight:bold;
}
.api_view_as_blog_step table{
    width:900px;
    margin:auto;
}
.api_view_as_blog_step .api_temp_td_1{
    background-color:#f3f3f3;
    text-align:center;
    padding-top:30px;
    padding-bottom:30px;
    padding-left:30px;
    padding-right:30px;
}
/*-api_view_as_blog_step-*/

/*-api_view_as_blog_step_v2-*/
.api_view_as_blog_step_v2 table{
    max-width:1000px;
    margin:auto;
}
.api_view_as_blog_step_v2 .api_temp_td_1{
    text-align:center;
    padding:20px;
}

.api_view_as_blog_step_v2 .api_temp_title_1 {
    text-transform: uppercase;
    font-size:28px;
    text-align: left;
}
.api_view_as_blog_step_v2 .api_temp_title_2 {
    text-transform: capitalize;
    font-size:24px;
    text-align: left;
}
.api_view_as_blog_step_v2 .api_temp_title_3 {
    text-align: justify;
}
.api_view_as_blog_step_v2 .api_temp_td_2 {    
    padding:20px;
}
.api_view_as_blog_step_v2 .api_temp_number {
    font-size:60px;
    color:#000;
    font-weight:bold;
}
/*-api_view_as_blog_step_v2-*/

/*-api_welcome_table_wrapper-*/
.api_welcome_table_wrapper{
    padding:30px;
}
.api_welcome_table_wrapper .api_temp_table_1{
    width:100%;
}
.api_welcome_table_wrapper .api_temp_td_1 {
    width: 40%;
}
.api_welcome_table_wrapper .api_section {
    width:1100px;
}
.api_welcome_table_wrapper .api_temp_td_2 {
    width: 60%;
    padding-top:20px;
    padding-left:5%;
    padding-right:5%;
    vertical-align: middle;    
}
.api_welcome_table_wrapper, .api_welcome_table_wrapper .api_section, .api_welcome_table_wrapper .api_section_wrapper{
    background-color:#d9d9d9 !important;  
}
.api_welcome_table_wrapper .col-md-12 {
    padding:0px;
}
.api_welcome_table_wrapper .api_section {
    padding:0px;
}

.api_welcome_table_wrapper .api_temp_title_1 {
    line-height:1.5em;
    font-size:20px;
    text-align: center;
}

.api_welcome_table_wrapper .api_temp_2 {
    background-color:#f3f3f3 !important;
    padding:25px;
}
/*-api_welcome_table_wrapper-*/


/*-api_view_as_blog_step_v3-*/
.api_view_as_blog_step_v3 .api_temp_title_1 {
    text-transform: capitalize;
    background-color:#fff;
    padding:5px;
    padding-top:0px;
    padding-bottom:0px;
    display:inline-block;
}
.api_view_as_blog_step_v3 .api_temp_title_1_underline {
    padding-top:5px;
    border-bottom:1px solid #666666;
    margin-left:25%;
    margin-right:25%;
}
.api_view_as_blog_step_v3 .api_temp_title_2_wrapper {
    padding:5px;
    padding-left:25px;
    padding-right:25px;
    border:1px solid #fff;
    text-align:center;
    display:inline-block;
    margin:auto;
}
.api_view_as_blog_step_v3 .api_temp_title_2 {
    background-color:#fff;
    text-align:center;
    padding:2px;
    line-height:1em;
    display:inline-block;
}
.api_view_as_blog_step_v3 .api_temp_title_3 {
    text-align: left;
}
.api_view_as_blog_step_v3 .api_temp_td_2 {
    background-size:cover;
    width:400px;         
    padding:15px;
}

.api_view_as_blog_step_v3 table{
    width:800px;
    margin:auto;
}
.api_view_as_blog_step_v3 .api_temp_td_1{
    background-color:#f3f3f3;
    text-align:center;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:30px;
    padding-right:30px;
    width:50%;
}
.api_view_as_blog_step_v3 .api_temp_td_3{
    width:20px;
}
/*-api_view_as_blog_step_v3-*/

/*-api_view_as_large_icon_v2-*/
.api_view_as_large_icon_v2 .api_temp_wrapper_1 {
    padding-left:5%;
    padding-right:5%;
}
.api_view_as_large_icon_v2 .api_temp_title {
    text-align: center;
    padding: 5px;
    text-transform: capitalize;
}
.api_view_as_large_icon_v2 .api_temp_image {
    margin-bottom:20px;
}
.api_view_as_large_icon_v2 .api_temp_description {
    border: 1px solid #999999;
    padding: 15px;
}
/*-api_view_as_large_icon_v2-*/


/*-col_border_title_description_year-*/
.col_border_title_description_year {
    padding-top:15px;
    padding-bottom:15px;
}
.col_border_title_description_year .api_temp_border {
    border: 1px solid #ccc;
    /* padding:15px; */
}
.col_border_title_description_year .api_temp_title {
    font-size:20px;
    text-align: center;
    line-height:1.3em;
}
.col_border_title_description_year .api_temp_description {
    padding-top:15px;
}
.col_border_title_description_year .api_temp_year {
    text-align: right;
    padding-top: 20px;
    color:#454545;
}
.col_border_title_description_year .api_temp_title {
    padding-top:15px;
    padding-bottom:10px;
}
.col_border_title_description_year .api_temp_title_2{
    padding: 2px;
    background-color: #efefef;
    font-size: 16px;
    padding-right: 15px;
    padding-left: 15px;
    display: inline-block;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.col_border_title_description_year .api_temp_div {
    padding: 15px;
}
/*-col_border_title_description_year-*/


/*-api_customer_voice_header-*/
.api_customer_voice_header .api_temp_title_1 {
    background-image: url(../image/image_1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    text-align: center;
    
    padding-left:20px;
    padding-right:20px;
    padding-top: 8px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    font-size: 15px;
    min-width: 250px;
}
.api_customer_voice_header .api_temp_title_2 {
    font-size:34px;
    line-height:1.2em;
}
.api_ja .api_customer_voice_header .api_temp_title_2 {
    font-size:34px;
    line-height:1.7em;
}
.api_customer_voice_header .api_temp_voice {
    font-size: 80px !important;
    line-height:1em;
    text-align:center;
}
.api_ja .api_customer_voice_header .api_temp_voice img{
    padding-top:40px;
}
.api_ja .api_customer_voice_header .api_temp_voice {
    font-size: 120px !important;
    text-align: right;
}
.api_customer_voice_header {
    width:100%;
}
.api_customer_voice_header .api_temp_div_1 {
    display:inline-block;
}
.api_customer_voice_header .api_temp_div_2 {
    display:inline-block;
}
.api_customer_voice_header .api_temp_div_3 {
    text-align:left;
}
.api_ja .api_customer_voice_header .api_temp_div_3 {
    text-align:center;
}

/*-api_customer_voice_header-*/


/*-api_form_for_companies-*/
.api_form_for_companies .api_temp_1 {
    background-color:#b7b7b7;
    padding:20px;
    color:#212121;
    text-align:center;
}
.api_form_for_companies .api_temp_2 {
    background-color:#d9d9d9;
    padding:15px;
}
.api_form_for_companies .api_temp_3 {
    border:1px solid #212121;
    background-color:#fff;
    overflow-y: scroll;
    padding:5px;
}
.api_form_for_companies .api_temp_input {
    height:35px;
    border:0px;
    text-indent: 10px;
    width:100%;
    outline:0;
}
.api_form_for_companies .checkbox {
    display:inline-block !important;
    height:20px;
    width:20px;
    padding:5px;   
}
.api_form_for_companies .api_temp_textarea {
    height:100px;
    width:100%;
    text-indent: 5px;
    outline:0px;
}
.api_form_for_companies .api_temp_button_1 {
    width:150px;
    text-align: center;
    background-color:#999999;
    color:#212121;
    margin:auto;
    padding:10px;
    font-size:16px;
}
.api_form_for_companies .api_temp_td_3 {
    height: 35px;
    background-color: #fff;
    border: 0px;
    padding-left: 15px;
    padding-right: 5px;
}
.api_form_for_companies .api_temp_td_1 {
    height: 35px;
    background-color: #fff;
    border: 0px;
}
/*-api_form_for_companies-*/


/*-api_form_for_jobseeker-*/
.api_form_for_jobseeker .api_temp_1 {
    background-color:#b7b7b7;
    padding:5px;
    padding-left:30px;
    padding-right:30px;
    color:#212121;
    display:inline-block;
    margin:auto;
    text-align:center;
    border-radius:10px;
    font-size:20px;
}
.iti {
    display: block !important;
}
.api_form_for_jobseeker .api_temp_2 {
    background-color:#d9d9d9;
    padding:40px;
}
.api_form_for_jobseeker .api_temp_3 {
    height:150px;
    border:1px solid #212121;
    background-color:#fff;
    overflow-y: scroll;
    padding:5px;
}
.api_form_for_jobseeker .api_temp_input {
    height:63px;
    border:0px;
    outline: none;
    text-indent: 10px;
    width:100%;
    
}
.api_form_for_jobseeker .api_temp_td_1 {
    height:50px;
    background-color:#fff;
    border:0px;
}
.api_form_for_jobseeker .api_temp_td_3 {
    height:50px;
    background-color:#fff;
    border:0px;
    padding-left:15px;
    padding-right:5px;
}


.api_form_for_jobseeker .checkbox {
    display:inline-block !important;
    height:20px;
    width:20px;
    padding:5px;   
}
.api_form_for_jobseeker .api_temp_textarea {
    height:100px;
    width:100%;
    text-indent: 5px;
}
.api_form_for_jobseeker .api_temp_button_1 {
    width:100%;
    text-align: center;
    background-color:#999999;
    color:#212121;
    margin:auto;
    padding:10px;
    font-size:16px;
}
.api_ja .api_page_ayum_for_jobseeker .api_view_as_blog_step .api_temp_title_2 {
    font-size:30px;
}
.api_form_for_jobseeker .api_temp_input_file {
    background-image:url('../image/attach_icon.jpg');
    background-position: right;
    background-repeat:no-repeat;
    cursor:pointer;
}
/*-api_form_for_jobseeker-*/

.api_page_youtube_iframe {
    width:100%;
}

/*-api_form_for_jobseeker-*/
.api_display_large_icon_news .api_temp_image_title_center {
    background-color:#cccccc;
    padding-left:5px;
    padding-right:5px;
}
/*-api_form_for_jobseeker-*/

.fb-wrapper {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.fb-wrapper iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.api_requied{
    display:none;
    font-size: 15px;
    margin-top: -20px;
    font-weight: normal;
    height: 20px;
    margin-bottom: 0px;
}
.api_template_title_1{
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 5px;
    border-bottom: 4px solid #666666;
    text-align: center;
    font-size: 30px;
}
.api_template_title_2{
    font-family: 'Arial', 'khmer', 'heisei-kaku-gothic-std',sans-serif !important;
    color: #717171;
    font-size: 20px;
    font-weight: bold;
    
    
    line-height: 1.5em;
}
.api_ja .api_temp_wrapper_footer_menu_137{
    display: none;
}
.api_footer_font_size{
    font-size: 14px;
}
.api_temp_title_footer{
    font-family: 'century-gothic', 'khmer', 'heisei-kaku-gothic-std',sans-serif !important;
    color:#717171;
    font-size:19px;
    font-weight:bold;
    
    
    line-height:1.5em;
}
.api_img_blog_small {
    width:150px;
    height:130px;
}
.api_img_blog_small_v2 {
    width:100px;
    height:80px;
}
.api_img_blog_medium {
    width:500px;
    height:300px; 
}
.api_img_service_medium {
    width:450px;
    height:250px; 
}
.api_img_blog_medium_v2 {
    width:350px;
    height:200px; 
}
.api_img_blog_medium_v3 {
    width:400px;
    height:270px; 
}
.api_img_staff {
    width:150px;
    height:150px;     
}
.api_img_welcome_table {
    width:450px;
    height:250px; 
}
.api_img_500_300 {
    width:500px;
    height:300px; 
}
.api_img_500_400 {
    width:500px;
    height:350px; 
}
.api_img_600_350 {
    width:600px;
    height:350px; 
}
.api_img_300_200 {
    width:100%;
    height:100px; 
}
.fb-page, 
.fb-page span, 
.fb-page span iframe[style] { 
    width: 100% !important; 
}

.api_image_400_250 {
    position: relative;
    max-width: 400px;
    max-height: 250px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.api_image_150_150 {
    position: relative;
    max-width: 150px;
    max-height: 150px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}


.api_box_150_150 {
    position: relative;
    min-width: 150px;
    min-height: 150px;
    max-width: 150px;
    max-height: 150px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.api_box_150_150:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: .04;
    border-radius: 4px;
}
.api_box_150_150 img {
    max-width: 150px;
    max-height: 150px;
}
.api_temp_intro {
    word-break: break-word;
}
.api_intro {
    word-break: break-word;
}
.api_temp_menu_td {
    width:230px;
}
