@media screen and (min-width: 100px) and (max-width:767px) {
.api_menu_mobile .api_big{
    font-size:14px !important;
}
.api_header .api_temp_td_1 {
    width:auto;
}
.api_header {
    padding-left:0px; padding-right:0px;    
    width:100%;
    background-color:#efefef !important;
}
.api_logo{
    width:100px;
}

.api_header .api_big {
    font-family: 'Arial', 'khmer','Kosugi Maru',sans-serif !important;
    color:#666666;
    font-size:13px;
    font-weight:bold;
}
.api_header .api_normal {
    font-family: 'Arial', 'khmer','Kosugi Maru',sans-serif !important;
    color:#666666;
    font-size:12px;
    font-weight:normal;    
}
.api_section{
    padding-left:0px; padding-right:0px;
    background-color:#fff;
}
.api_footer{
    padding-left:0px; padding-right:0px;
    background-color:#efefef;
}
.api_youtube_video_1 {
    width:100%;
    height:200px;
}
.api_title_1{
    font-size:20px;
    letter-spacing:0px;
}
.api_button_readmore{
    font-size:16px;
}
.api_display_blog .api_intro_wrapper {
    padding-left: 0px;
    padding-right: 0px;
}


/*-api_view_as_blog_step-*/
.api_view_as_blog_step table{
    width:100%;
    margin:auto;
}
.api_view_as_blog_step .api_temp_title_1 {
    padding-left:0px;
}
.api_view_as_blog_step .api_temp_td_1 {
    width:100%;   
    padding:15px;
}
.api_view_as_blog_step .api_temp_td_2 {
    width:100%;         
    height:250px;    
}
.api_view_as_blog_step .api_temp_title_2 {
    font-size:20px;
}
/*-api_view_as_blog_step-*/

/*-api_view_as_blog_step_v2-*/
.api_view_as_blog_step_v2 table{
    width:100%;
    margin:auto;
}
.api_view_as_blog_step_v2 .api_temp_td_1 {
    padding:0px;   
    padding-top:15px;
    padding-bottom:15px;      
}
.api_view_as_blog_step_v2 .api_temp_td_2 {
    height:150px;
    padding:0px;         
}
.api_view_as_blog_step_v2 .api_temp_title_2{
    font-size:20px;
}
.api_view_as_blog_step_v2 .api_temp_title_3 {
    font-size:14px;
}
/*-api_view_as_blog_step_v2-*/

/*-api_welcome_table_wrapper-*/
.api_welcome_table_wrapper{
    padding:15px;
}
.api_welcome_table_wrapper .api_temp_td_1 {
    padding:15px;
}
.api_welcome_table_wrapper .api_temp_2 {    
    padding:0px;
}
.api_welcome_table_wrapper .api_section {
    width:100%;
}
.api_welcome_table_wrapper .api_temp_td_2 {
    vertical-align: top;    
    padding:15px;
    padding-top:0px;    
}
/*-api_welcome_table_wrapper-*/

/*-api_view_as_blog_step_v3-*/
.api_view_as_blog_step_v3 table{
    width:100%;
    margin:auto;
}
.api_view_as_blog_step_v3 .api_temp_td_1 {
    width:100%;   
    padding:15px;
}
.api_view_as_blog_step_v3 .api_temp_td_2 {
    width:100%;         
    height:250px;    
}
/*-api_view_as_blog_step_v3-*/

.api_title_1 {
    font-size:16px;
}

/*-api_customer_voice_header-*/
.api_customer_voice_header .api_temp_title_2 {
    font-size:16px;
}
.api_ja .api_customer_voice_header .api_temp_title_2 {
    font-size:24px;

}
.api_customer_voice_header .api_temp_voice {
    font-size: 28px !important;
}
.api_customer_voice_header .api_temp_div_3{
    text-align: center;
}
.api_customer_voice_header .api_temp_title_1 {
    background-image: url(../image/image_1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    text-align: center;
    padding: 15px;
    padding-top: 8px;
    font-size: 12px;
    min-width: 200px;
}
.api_customer_voice_header .api_temp_image{
    width:30px;
}
.api_customer_voice_header .api_temp_div_2{
    text-align: center;
}
.api_ja .api_customer_voice_header .api_temp_voice {
    font-size: 60px !important;
    text-align: right;
}
/*-api_customer_voice_header-*/

/*-col_border_title_description_year-*/
.col_border_title_description_year .api_temp_title{
    font-size:16px;
    padding-top:0px;
    padding-bottom:0px;
}
.col_border_title_description_year .api_temp_title_2{
    width:100%;
    border-right:0px;
}
/*-col_border_title_description_year-*/

/*-capi_form_for_companies-*/
.api_form_for_companies .api_temp_1 {
    font-size:12px;
}

.api_form_for_companies .api_temp_1 {
    padding:5px;
}

.api_form_for_companies .api_temp_button_1 {
    width: 100%;
    text-align: center;
    background-color: #999999;
    color: #212121;
    margin: auto;
    padding: 10px;
    font-size: 16px;
}
/*-api_form_for_companies-*/

/*-api_form_for_jobseeker-*/
.api_form_for_jobseeker .api_temp_1 {
    font-size:13px;
}
/*-api_form_for_jobseeker-*/


/*-large_icon_staff_mobile-*/
.large_icon_staff_mobile .api_temp_information_td{
    display:inline-block;
    margin:auto;
}
.large_icon_staff_mobile .api_temp_social_link{
    margin:auto;
    display: inline-block;
    padding-top:10px;
}
/*-large_icon_staff_mobile-*/

.api_page_youtube_iframe {
    height:220px;
}
.api_requied {
    display: none;
    font-size: 15px;
    margin-top: -14px;
    font-weight: normal;
    height: 20px;
    margin-bottom: 12px;
}
.api_img_blog_small {
    width:100%;
    height:100px;
}
.api_img_blog_medium {
    width:100%;
    height:200px; 
}
.api_img_service_medium {
    width:100%;
    height:200px; 
}
.api_img_blog_medium_v2 {
    width:100%;
    height:200px; 
}
.api_img_welcome_table {
    width:100%;
    height:200px; 
}
.api_img_blog_medium_v3 {
    width:100%;
    height:220px; 
}
.api_img_500_300 {
    width:100%;
    height:200px; 
}
.api_img_600_350 {
    width:100%;
    height:200px; 
}
.api_img_500_400 {
    width:100%;
    height:250px; 
}
.api_view_as_blog_step .api_temp_title_3{
    padding:0px;
}
.api_image_400_250 {
    width:100%;
}
.api_menu_box {
    width:auto;
}
.api_temp_menu_td {
    width:auto;
}
}



