

.api_front_title_1_ja {
    font-size:45px;
    color:#d2d2d2 !important;
    text-transform: capitalize;
    text-align: center;
    letter-spacing:5px;
    padding-bottom:30px;
}
.api_front_title_1_en {
    font-size: 43px;
    color: #d2d2d2 !important;
    text-align: center;
    font-weight:normal;
}
.api_front_button_2 {
    border:3px solid #666666;
    font-size:16px;
    text-align:center;
    padding:15px;
    padding-top:20px;
    padding-bottom:20px;
    width:170px;
    cursor:pointer;
    text-transform:capitalize;
    color:#666666 !important;
}
.api_front_button_1 {
    border:3px solid #666666;
    font-size:16px;
    text-align:center;
    padding:15px;
    padding-top:20px;
    padding-bottom:20px;
    width:270px;
    cursor:pointer;
    color:#666666 !important;
}
.api_front_button_1:hover {
    color:#f44336 !important;
    border:3px solid #f44336;
}
.api_display_blog .api_intro_wrapper {
    text-overflow: ellipsis;
    overflow:hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;  
}




.api_temp_table_1{
    /* text-transform: capitalize; */
    font-size:14px;
    line-height:1.3em;
    color:#242424;
}
.api_temp_border_bottom_1{
    border-bottom: 1px solid #242424;
    width:100px;
    padding-top:2px;
    margin-bottom:3px;
}
.api_temp_cell_padding_1{
    padding-left:5px;
    padding-right:5px;
    padding-top:5px;
    padding-bottom:5px;
}
.api_temp_cell_padding_2{
    padding-left:5px;
    padding-right:5px;
    padding-top:5px;
    padding-bottom:5px;
}
.api_temp_cell_padding_3{
    padding-left:5px;
    padding-right:5px;
    padding-top:5px;
    padding-bottom:5px;
}

.api_display_blog .api_temp_image_td {
    width:150px;
    padding-top:0px;
    padding-bottom:0px;
}

.api_display_large_icon_staff .api_temp_image_td {
    width:150px;
    padding-top:15px;
    padding-bottom:15px;
}
.api_display_large_icon_staff .api_temp_information_td {
    padding-left:30px;
    padding-right:30px;
    padding-top:20px;
    padding-bottom:15px;    
}

.large_icon_staff_mobile .api_temp_image_td{
    text-align:center;
    padding-bottom:15px;
}

.large_icon_staff_mobile .api_temp_information_td{
    text-align:center;
    padding-bottom:30px;
}

.large_icon_staff_mobile .api_temp_social_link{
    text-align:center;
    display:inline-block;
    margin:auto;
}

.api_display_large_icon_news .api_temp_view_all_wrapper{
    text-align:center;
}
.api_display_large_icon_news .api_temp_view_all{
    display:inline-block;
    margin:auto;
}

.api_display_large_icon_news .api_temp_title{
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
    text-align: left;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
}
.api_display_large_icon_news .api_temp_title_en {
    line-height: 1.7em;
    height: 3.4em;
}
.api_display_large_icon_news .api_temp_title_ja {
    line-height: 1.5em;
    height: 3em;
}
.api_display_large_icon_news .api_temp_image {
    color:#fff;
    text-transform: capitalize;
}
.api_display_large_icon_news .api_temp_image_title_bg {
    color:#fff;
    text-transform: capitalize;
    background-color:#999999;
    position:absolute;
    top:0px;
    right:0px;
    padding:5px;
    padding-left:10px;
    padding-right:10px;    
    width:auto;
    font-size:12px;
}
.api_temp_front_1 .api_absolute_center_45{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.api_temp_front_2 {
    margin: auto;
    width:1000px;
}

.api_front_ayum_banner .api_temp_td_1 {
    padding-top:20px;
    padding-left:4%;
    padding-right:4%;
    width:50%;
    vertical-align: middle;
}
.api_front_ayum_banner .api_temp_td_2 {
    padding-left:7%;
    padding-right:7%;
    padding-bottom:20px;
    width:50%;
}

.api_ja .api_front_ayum_banner .api_temp_td_2 {
    padding-left:6%;
    padding-right:6%;
    text-align: center;
}
.api_front_ayum_banner .api_front_title_2 {
    line-height: 1.7em;
}
.api_ja .api_front_ayum_banner .api_front_title_2 {
    line-height: 1.7em;
    font-size:18px;
}


.api_display_large_icon .api_intro_en {
    margin-top:20px;
    margin-bottom:10px;
}

.api_page_front_movie .api_temp_td_1 {
    background-image:url('../image/image_5.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    text-transform: uppercase;
    height: 170px;
    border: 1px solid #8B8B8B;
}
.api_en .api_page_front_movie .api_temp_td_1 {
    font-size:24px;
}
.api_page_front_movie .api_temp_image_1{
    background-image:url('../image/image_5.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    height: 170px;
    border: 1px solid;
}
.api_page_front_movie .api_temp_image_2{
    background-size: cover;
    background-repeat: no-repeat;
    height: 170px;
    border: 1px solid #8B8B8B;
    line-height: 1.2em;
    font-size:18px;
    font-weight: bold;
    color: #212121;
}
.api_page_front_movie .api_temp_image_3{
    background-image: url('../../front/image/image_7.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 170px;
    border: 1px solid #8B8B8B;
}
.api_page_front_movie .api_temp_image_4{
    background-image: url('../../front/image/image_8.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 170px;
    border: 1px solid #8B8B8B;
}
.api_page_front_movie .api_front_page_text_center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.api_front_ayum_service_title:hover{
    color:#f44336;
}
a:hover{
    color:#f44336;
}
.api_temp_front_1 {
    padding-left:10%;
    padding-right:10%;
}

.api_front_ayum_banner .api_temp_button_1 {
    width:auto;
    display: inline-block;
    margin:auto;
}

.api_front_ayum_banner .api_temp_button_1:hover + .api_temp_button_2 {
    display: inline-block;
}

.api_front_ayum_banner .api_temp_td_5 {
    height:30px;
    padding-top:0px !important;
    padding-bottom:0px !important;
}

.api_front_ayum_banner .api_temp_image_1024 {
    display:none;
}
.api_front_ayum_member {
    max-width:1200px;
    margin:auto;
}


