@media screen and (min-width: 1024px) and (max-width:1024px) {

    .api_front_title_1_ja {
        font-size:36px;
        color:#eee;
        text-transform: capitalize;
        text-align: center;
        letter-spacing:5px;
    }
    .api_front_title_1_en {
        font-size:26px;
        color:#eee;
        text-transform: capitalize;
        text-align: center;
        letter-spacing:2px;
    }
    .api_front_button_1 {
        padding:10px;
        width:200px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .api_front_button_1:hover {
        color:#f44336 !important;
        border:3px solid #f44336;
    }
    .api_temp_front_2 {
        margin: auto;
        width:100%;
    }
    
    .api_front_ayum_banner .api_temp_td_1 {
        padding-left:30px;
        padding-right:30px;
        padding-top:20px;
    }
    .api_front_ayum_banner .api_temp_td_2 {
        padding-bottom:20px;
        padding-left:30px;
        padding-right:30px;
    }
    .api_ja .api_front_ayum_banner .api_temp_td_1 {
        padding-left:30px;
        padding-right:30px;
    }
    .api_ja .api_front_ayum_banner .api_temp_td_2 {
        padding-bottom:20px;
        padding-left:30px;
        padding-right:30px;
    }
    .api_front_ayum_banner .api_temp_1 {
        height:30px;
    }
    .api_front_ayum_banner .api_height_ipad_pro {
        height: 230px;
    }
    }