@media screen and (min-width: 768px) and (max-width:1023px) {
    .api_front_ayum_banner .api_temp_title_1 {
        width:100%;
    }
    .api_front_button_1 {
        width:100%;
    }
    .api_front_title_1_ja {
        font-size:30px;
        color:#eee;
        text-transform: capitalize;
        text-align: center;
        letter-spacing:5px;
    }
    
    .api_front_button_1:hover {
        color:#f44336 !important;
        border:3px solid #f44336;
    }
    .api_temp_front_2 {
        margin: auto;
        width:100%;
    }
    
    .api_front_button_1 {
        height: 70px;
        padding: 10px;
        width: 170px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .api_front_button_1:hover {
        color:#f44336 !important;
        border:3px solid #f44336;
    }
    .api_temp_front_2 {
        margin: auto;
        width:100%;
    }
    .api_front_ayum_banner .api_temp_td_1 {
        padding-top:20px;
    }
    .api_front_ayum_banner .api_temp_td_2 {
        padding-bottom:20px;
    }
    .api_front_ayum_banner .api_temp_td_1 {
        padding-top:15px;
        padding-left:30px;
        padding-right:30px;
        width:50%;
    }
    .api_front_ayum_banner .api_temp_td_2 {
        padding-left:15px;
        padding-right:15px;
        padding-bottom:20px;
        width:50%;
    }
    .api_front_title_1_en {
        font-size: 22px;
    }
    .api_front_ayum_banner .api_temp_td_3 {
        background-size:cover;
        background-position: right;
        width:50%;
        background-image:url('../image/ipadback.jpg');
    }
    .api_ja .api_front_ayum_banner .api_temp_td_1 {
        padding-left:15px;
        padding-right:15px;
        padding-top:20px;
    }
    .api_ja .api_front_ayum_banner .api_temp_td_2 {
        padding-bottom:20px;
        padding-left:15px;
        padding-right:15px;
    }
    .api_front_ayum_banner .api_temp_1 {
        height:20px;
    }
    .api_page_front_movie .api_temp_image_2{
        height: 240px;
    }
    .api_page_front_movie .api_temp_td_1{
        height: 235px;
    }
    .api_page_front_movie .api_temp_image_3{
        height: 235px;
    }
    .api_page_front_movie .api_temp_image_4{
        height: 235px;
    }
    }