@media screen and (min-width: 100px) and (max-width:767px) {
    .api_front_ayum_banner .api_temp_title_1 {
        width:100%;
    }
    .api_front_ayum_service_list .api_temp_table_1 {
        font-size:12px;
    }
    .api_front_title_1_ja {
        font-size:24px;
        color:#eee;
        text-transform: capitalize;
        text-align: center;
        letter-spacing:5px;
    }
    .api_front_title_1_en {
        font-size:18px;
        color:#eee;
        text-transform: capitalize;
        text-align: center;
        letter-spacing:5px;
    }
    .api_front_button_1 {
        border:3px solid #666666;
        font-size:16px;
        text-align:center;
        padding:5px;
        cursor:pointer;
        width:100%;
        text-transform:capitalize;
        color:#666666 !important;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70px;
    }
    .api_front_button_1:hover {
        color:#f44336 !important;
        border:3px solid #f44336;
    }
    .api_temp_cell_padding_1{
        padding:2px;
    
    }
    .api_temp_cell_padding_2{
        padding:2px;
    }
    .api_temp_cell_padding_3{
        padding:2px;
    }
    
    .api_front_ayum_banner .api_temp_td_1 {
        padding-top:20px;
    }
    .api_front_ayum_banner .api_temp_td_2 {
        padding-bottom:20px;
    }
    .api_front_ayum_banner .api_temp_td_1 {
        padding-top:15px;
        padding-left:15px;
        padding-right:15px;
        width:100%;
    }
    .api_front_ayum_banner .api_temp_td_2 {
        padding-left:15px;
        padding-right:15px;
        padding-bottom:20px;
        width:100%;
    }
    
    .api_front_ayum_banner .api_temp_td_3 {
        background-size:cover;
        background-position: right;
        width:100%;
        height:300px;
        background-image:url('../image/asd.jpg');
    }
    .api_front_ayum_banner .api_front_title_1_en {
        font-size: 16px;
    }
    .api_front_ayum_banner .visible-xs .api_padding_20{
        padding-bottom:0px;
        padding-left:0px;
        padding-right:0px;
    }
    
    .api_display_blog .api_intro_wrapper {
        padding-left:15px;
        padding-right:15px;
    }
    .api_page_front_movie .api_temp_td_1{
        background-position: center center;
    }
    .api_page_front_movie .api_temp_image_2{
        background-position: center center;
    }
    .api_page_front_movie .api_temp_image_3{
        background-position: center center;
    }
    .api_page_front_movie .api_temp_image_4{
        background-image: url('../../front/image/Untitled-1.jpg');
        background-position: center center;
    }
    }