@import url('https://fonts.google.com/specimen/Antic+Slab#standard-styles');
.api_temp_border_bottom_1 {
    border-bottom: 1px solid #242424;
    width: 100px;
    padding-top: 2px;
    margin-bottom: 3px;
}
.api_temp_table_1 {
    text-transform: capitalize;
    font-size: 14px;
    line-height: 1.5em;
    color: #242424;
}
.api_temp_cell_padding_1 {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.api_temp_cell_padding_2 {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.api_temp_cell_padding_3{
    padding-left:5px;
    padding-right:5px;
    padding-top:5px;
    padding-bottom:5px;
}