
.api_ayum_blog_panel .api_temp_search {
    width: 100%;
    outline: 0px;
    border: 2px solid #bdbcbc;
    border-radius: 5px;
    height: 40px;
    text-indent: 5px;
}

.api_ayum_blog_panel .api_temp_search_icon {
    position:absolute;
    right:25px;
    top:10px;
    z-index:100;
}

.api_ayum_blog_panel .api_temp_title_1 {
    text-transform: uppercase;
    letter-spacing: 0px;
    display: inline-block;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 5px;
    border-bottom: 4px solid #666666;
    text-align: center;
    line-height:1em;
    font-size:30px;
}

.api_en .api_ayum_blog_panel .api_display_blog .api_temp_title {
    line-height: 1.3em;
    height: 3.9em;
    overflow: hidden;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size:14px;
}
.api_ayum_blog_panel .api_tag_box_1{
    border: 1px solid rgb(192, 172, 141);
    border-radius: 30px;
    padding: 2px 15px 2px 15px;
    text-align: center;
    float: left;
    white-space: nowrap;
    background-color:rgb(192, 172, 141);
    color: #fff;
    margin-left: 10px;
    margin-top: 7px;
    font-size: 12px;
}
.api_ayum_blog_panel .api_tag_box_1:hover{
    background-color: rgb(230, 186, 120);
    border: 1px solid rgb(230, 186, 120);
    cursor: pointer;
}
.api_ayum_blog_panel .api_tag_box_selected{
    cursor: pointer;
    border: 1px solid rgb(138, 108, 67);
    border-radius: 30px;
    padding: 2px 15px 2px 15px;
    text-align: center;
    float: left;
    white-space: nowrap;
    background-color:rgb(138, 108, 67);
    color: #fff;
    margin-left: 10px;
    margin-top: 7px;
    font-size: 12px;
}
.api_ayum_blog_panel .api_tag_box_selected:hover{
    background-color: rgb(230, 186, 120);
    border: 1px solid rgb(230, 186, 120);
    cursor: pointer;
}



