@media screen and (min-width: 1024px) and (max-width:1024px) {
.api_ja .api_section {
    width: 100%;
}
    
.api_page_ayum_for_companies .api_section_wrapper {
    padding:15px;
}
.api_page_ayum_for_companies .api_temp_8 {
    display: none;
}
.api_page_ayum_for_companies .api_temp_2 {
    font-size:18px;
}
.api_ja .api_page_ayum_for_companies .api_temp_wrapper_1 {
    padding-left:0%;
    padding-right:0%;
}
.api_page_ayum_for_companies .api_temp_6 {
    padding: 15px;
}
.api_temp_banner .api_temp_td_1{
    padding-top:10%;
}
.api_temp_banner .api_temp_title_3{
    font-size:28px;
}
.api_ja .api_page_ayum_for_companies .api_temp_wrapper_1{
    padding-left:15px;
    padding-right:15px;
}

}