@media screen and (min-width: 100px) and (max-width:767px) {
.api_ja .api_section {
    width: 100%;
}
.api_page_ayum_for_companies .api_temp_2 {
    font-size:20px;
}
.api_page_ayum_for_companies .api_temp_6 {
    padding:15px;
    padding-top:0px;
}
.api_page_ayum_for_companies .api_temp_9 {
    float:none;
    padding:0px;
    width:100%; 
}
.api_page_ayum_for_companies .api_button_readmore {
    margin:auto;
}
.api_ja .api_page_ayum_for_companies .api_temp_wrapper_1 {
    padding-left:0%;
    padding-right:0%;
}
.api_en .api_page_ayum_for_companies .api_view_as_blog_step_v2 .api_temp_title_3 {
    text-align: left;
    width: 100%;
    font-size: 15px;
}

.api_en .api_page_ayum_for_companies_en .api_title_1 {
    font-size:20px;
}
.api_page_ayum_for_companies_en .api_view_as_blog_step_v2 .api_temp_title_2 {
    font-size: 20px;
}

.api_temp_banner .api_temp_title_3{
    font-size:18px;
}

.api_temp_banner{
    background-size: cover;
    background-position: center;
}
.api_en .api_page_ayum_for_companies .api_title_1{
    font-size:20px;
    padding:0px;
}
.api_page_ayum_for_companies .api_button_1 {
    padding:10px;
}
.api_ja .api_page_ayum_for_companies .api_button_1 {
    width:auto;
}
.api_ja .api_temp_banner {
    background-size: 100% 100%;
}
.api_temp_banner .api_temp_title_3 {
    font-size:16px;
}
.api_temp_banner .api_temp_td_1{
    padding:15px;
    padding-top:80px;
    height:250px;
}
}
