.api_page_ayum_for_companies .api_temp_2 {
    text-align: center;
    padding:5px;
    text-transform: capitalize;
    font-size:20px;
    padding-top:30px;
}

.api_page_ayum_for_companies .api_temp_3 {
    border:1px solid #999999;
    padding:15px;
    font-size: 15px;
}

.api_page_ayum_for_companies .api_temp_5 {
    line-height: 1.5em;
    height: 4.5em;
    overflow: hidden;
    text-align: left;

    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;     
}

.api_en .api_page_ayum_for_companies .api_title_1 {
    letter-spacing: 0px;
    border-bottom:0px;
    font-size:26px;
    color:#2653a6;    
}
.api_en .api_page_ayum_for_companies .api_temp_border_1 {
    border-bottom: 4px solid #666666;
    width:250px;
    padding-top:5px;
    margin:auto;
}

.api_page_ayum_for_companies .api_temp_3 .api_big {
    font-size: 18px;
}
.api_page_ayum_for_companies .api_button_readmore {
    border-bottom: 3px solid #666666;
}
.api_page_ayum_for_companies .api_button_readmore:hover {
    border-bottom: 3px solid !important;
}
.api_page_ayum_for_companies .api_temp_3 {
    border: 1px solid #999999;
    padding: 15px;

}
 .api_page_ayum_for_companies ul.a {
    list-style-type: square;
}
.api_page_ayum_for_companies .api_temp_6 {
    padding:30px;
}
.api_page_ayum_for_companies .api_button_1 {
    width:200px;
}
.api_ja .api_page_ayum_for_companies .api_button_1 {
    width:180px;
}
.api_page_ayum_for_companies ul {
    padding-left:0px;
}
.api_page_ayum_for_companies li {
    margin-left:40px;
}
.api_page_ayum_for_companies .fa-arrow-right {
    margin-left:0px;
}
.api_page_ayum_for_companies .api_temp_7 {
    padding-left:10%;
    padding-right:10%;
}

.api_page_ayum_for_companies .api_temp_9 {
    float:right;
}

.api_welcome_table_wrapper .api_temp_10 {
    color:#2653a6 !important;
    font-size:24px;
}
.api_en .api_welcome_table_wrapper .api_temp_title_2 {
    font-size:16px;
    line-height:1.5em;
    text-align: center;
}
.api_welcome_table_wrapper .api_temp_11 {
    font-size:13px;
    line-height:1.5em;
}
.api_ja .api_welcome_table_wrapper .api_temp_td_1 {
    width: 35%;
}
.api_ja .api_welcome_table_wrapper .api_temp_td_2 {
    width: 65%;
}
.api_ja .api_welcome_table_wrapper .api_temp_2 {
    display:inline-block;
    margin:auto;
}
.api_en .api_page_ayum_for_companies .api_welcome_table_wrapper .api_temp_td_2 {
    padding: 15px;
}
.api_en .api_welcome_table_wrapper .api_temp_12 {
    font-size:22px;
    padding-bottom:5px;
    text-align: center;
}
.api_en .api_welcome_table_wrapper .api_temp_13 {
    font-size:22px;
    color:#ff9900 !important;
}

.api_en .api_page_ayum_for_companies .api_temp_14 {
    color:#ff9900 !important;
}
.api_en .api_page_ayum_for_companies .api_title_2 {
    line-height:1.5em;
    font-size:14px;
}



.api_en .api_page_ayum_for_companies .api_view_as_blog_step_v2 .api_temp_title_2 {
    text-transform: capitalize;
    font-size: 20px;
    color: #2653a6;
    text-align: left;
}


/*-banner-*/
.api_ja .api_temp_banner{
    background-size: 100% 100%;    
}
.api_en .api_temp_banner{
    background-color: #e9e7e8;
}
.api_temp_banner .api_temp_td_1{
    height:300px;
    padding-top:7%;
}
.api_temp_banner .api_temp_title_3{
    font-size:32px;
}
.api_temp_banner .api_button_1{
    padding:30px;
    padding-top:15px;
    padding-bottom:15px;
    width:auto;
}

/*-banner-*/

.api_page_ayum_for_companies .api_view_as_blog_step_v2 table {
    max-width: 1000px;
}

.api_view_as_blog_step_v2 .api_temp_title_3 {
    text-align: left;
}
.api_img_web_medium{
    width: 100%;
    height: 330px;
}
.api_img_web_medium_v2{
    width: 100%;
    height: 100px;
}
.api_img_web_medium_v3{
    width: 100%;
    height: 60px;
}
.api_admin_wrapper_translation_941{
    font-size: 15px;
    text-align: center;
}
.api_ja .api_page_ayum_for_companies .api_section {
    max-width: 1150px;
    margin: auto;
}
