@media screen and (min-width: 768px) and (max-width:1023px) {
.api_ja .api_section {
    width: 100%;
}
.api_ja .api_page_ayum_for_companies .api_temp_wrapper_1 {
    padding-left:15px;
    padding-right:15px;
}
.api_page_ayum_for_companies .api_temp_6 {
    padding: 15px;
}
.api_temp_banner .api_temp_td_1{
    padding-top:12%;
}
.api_temp_banner .api_temp_title_3{
    font-size:24px;
}
.api_img_web_medium{
    width: 100%;
    height: 226px;
}
}