@import url('https://fonts.google.com/specimen/Antic+Slab#standard-styles');
.api_display_large_icon_staff .api_temp_image_td {
    width:150px;
    padding-top:15px;
    padding-bottom:15px;
}
.api_display_large_icon_staff .api_temp_information_td {
    padding-left:30px;
    padding-right:30px;
    padding-top:20px;
    padding-bottom:15px;    
}