@media screen and (min-width: 768px) and (max-width:1023px) {
.api_page_ayum_hr .api_temp_section_1 .api_temp_2 {
    font-size:20px;
}
.api_hr_banner_contact_button{
    margin-bottom:20px;
    padding:10px;
    padding-left:15px;
    padding-right:15px;
    width:auto;
}
.api_page_ayum_hr .api_temp_section_1 .api_temp_3 {
    min-height:320px;
}
.api_page_ayum_hr .api_temp_section_1 {
    padding-left:15px;
    padding-right:15px;
}
.api_page_ayum_hr .api_temp_section_2{
    padding:15px;    
}
.api_page_ayum_hr .api_temp_section_2 .api_temp_3 {
    height:auto;      
}
.api_page_ayum_hr .api_temp_section_3{
    padding-left: 35px;
    padding-right: 35px;
}
.api_page_ayum_hr .api_temp_section_3 .api_tr_service_flow_2{
    width: 25%;
}
.api_page_ayum_hr .api_temp_section_3 .api_padding_border{
    padding-left: 15px;
    padding-right: 15px;
}
.api_page_ayum_hr .api_temp_section_3 .api_pading_and_text_left{
    text-align: left;
    padding-left: 25px;
}
.api_page_ayum_hr .api_temp_section_3 .api_tr_content_border{
    width:45%;
}
.api_page_ayum_hr .api_temp_section_3 .api_border_service_flow{
    width:100% !important;
}
.api_page_ayum_hr .api_temp_section_4{
    padding-right: 35px;
    padding-left: 35px;
}
.api_page_ayum_hr .api_temp_section_4 .api_rpo_service{
    width: auto;
    background-image: url('../image/ipad_background.png');
    background-repeat: no-repeat;
    /* height: 500px; */
}
.api_page_ayum_hr .api_temp_section_4 .api_font_size_25 {
    font-size: 20px !important;
}
.api_page_ayum_hr .api_temp_section_4 .api_rpo_service_border {
    width:200px;
    height: 140px;
    padding:10px
}
.api_page_ayum_hr .api_temp_section_4 .api_rpo_service_tr_3 {
    padding: 0px;
}
.api_page_ayum_hr .api_temp_section_4 .api_rpo_service_tr_4{
    padding: 0px;
}
.api_page_ayum_hr .api_temp_section_4 .api_rpo_service_tr_1{
    padding: 0px;
}
.api_page_ayum_hr .api_temp_section_4 .api_rpo_service_tr_2{
    padding: 0px;
}
.col-md-12.api_padding_0.api_temp_section_5.visible-sm {
    padding-right: 35px;
    padding-left: 35px;
}
.api_page_ayum_hr .api_temp_section_5 .api_temp_5{
    width:auto;
}
.api_text_header_banner{
    font-size: 20px;
}
.api_page_hr_banner{
    height: 195px;
}
.api_page_hr_rpo_service_pro{
    /* margin-top:-20px; */
    padding:1px;
}

.api_page_ayum_hr .api_temp_section_5 .service_flow_arrow_pointer_tr_1{
    width: auto;
}
.api_page_ayum_hr .api_temp_section_5 .service_flow_arrow_pointer_tr_2{
    width: auto;
}
.api_page_ayum_hr .api_temp_section_5 .service_flow_arrow_pointer_tr_3{
    width: auto;
}
.api_page_ayum_hr .api_temp_section_5 .service_flow_arrow_pointer_tr_4{
    width: auto;
}
.api_page_ayum_hr .api_temp_section_5 .service_flow_arrow_pointer_tr_5{
    width: auto;
}
.api_page_ayum_hr .api_temp_section_5 .api_service_flow_font_size_15{
    font-size:14px
}
.api_page_ayum_hr .api_temp_section_4 .api_rpo_service_font_size{
    font-size: 17px;
}
.api_page_ayum_hr .api_temp_section_5 .service_flow_arrow_pointer_tr_1 {
    width: 270px;
    height: 70px;
    background: #d9ecd4;
    position: relative;
   }
.api_page_ayum_hr .api_temp_section_5 .service_flow_arrow_pointer_tr_1:before {
    content: '';
    position: absolute;
    right: -25px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 25px solid #d9ecd4;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
}
.api_page_ayum_hr .api_temp_section_5 .service_flow_arrow_pointer_tr_2 {
    width: 270px;
    height: 70px;
    background: #b6daac;
    position: relative;
   }
   .api_page_ayum_hr .api_temp_section_5 .service_flow_arrow_pointer_tr_2:after {
    content: '';
    position: absolute;
    left: 0; bottom: 0; width: 0; height: 0;
    border-left: 25px solid #d9ecd4;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
}
.api_page_ayum_hr .api_temp_section_5 .service_flow_arrow_pointer_tr_2:before {
    content: '';
    position: absolute;
    right: -25px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 25px solid #b6daac;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
}
.api_page_ayum_hr .api_temp_section_5 .service_flow_arrow_pointer_tr_3 {
    width: 270px;
    height: 70px;
    background: #69ac54;
    position: relative;
   }
   .api_page_ayum_hr .api_temp_section_5 .service_flow_arrow_pointer_tr_3:after {
    content: '';
    position: absolute;
    left: 0; bottom: 0; width: 0; height: 0;
    border-left: 25px solid #b6daac;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
}
.api_page_ayum_hr .api_temp_section_5 .service_flow_arrow_pointer_tr_3:before {
    content: '';
    position: absolute;
    right: -25px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 25px solid #69ac54;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
}
.api_page_ayum_hr .api_temp_section_5 .service_flow_arrow_pointer_tr_4 {
    width: 270px;
    height: 70px;
    background: #6e99e9;
    position: relative;
   }
.api_page_ayum_hr .api_temp_section_5 .service_flow_arrow_pointer_tr_4:after {
    content: '';
    position: absolute;
    left: 0; bottom: 0; width: 0; height: 0;
    border-left: 25px solid #69ac54;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
}
.api_page_ayum_hr .api_temp_section_5 .service_flow_arrow_pointer_tr_4:before {
    content: '';
    position: absolute;
    right: -25px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 25px solid #6e99e9;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
}
.api_page_ayum_hr .api_temp_section_5 .service_flow_arrow_pointer_tr_5 {
    width: 270px;
    height: 70px;
    background: #3e81c5;
    position: relative;
   }
.api_page_ayum_hr .api_temp_section_5 .service_flow_arrow_pointer_tr_5:after {
    content: '';
    position: absolute;
    left: 0; bottom: 0; width: 0; height: 0;
    border-left: 25px solid #6e99e9;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
}
.api_page_ayum_hr .api_temp_section_4 .api_rpo_service_tr_5{
    padding:0px;
}
.api_page_ayum_hr .api_temp_section_3 .api_border_corner_service_flow{
    width: 185px;
}
.api_page_ayum_hr .api_temp_section_3 .api_font_size{
    padding:0px;
    font-size: 11px;
}
.api_page_ayum_hr .api_temp_section_3 .api_border_corner_service_flow:after{
    left: 82%;
}
.api_page_ayum_hr .api_temp_section_3 .api_border_corner_service_flow_2{
    width: 111px;
}
.api_page_ayum_hr .api_temp_section_3 .api_border_corner_service_flow_2:after{
    left:69%;
}
.api_temp_section_1 .api_temp_col_1 {
    padding: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.arrow_box_2 {
	position: relative;
	background: #f3f3f3;
	border: 1px solid #f3f3f3;
    width:120px;
    height:80px;
    padding-left:5px;
    padding-right:0px;
}
.api_temp_section_wrapper_1 .api_temp_div_4 {
    padding-left: 0px;
}
.api_page_hr_banner .api_button_1{
    width:auto;
    padding:10px;
}

.api_page_hr_banner .api_temp_td_1 {
    text-align: center;
}
.api_page_ayum_hr .api_temp_section_wrapper_1 {
    padding:15px;
}
.api_temp_section_wrapper_1 .api_temp_div_4_v2 {
    padding-left:0px;
}
.api_page_ayum_hr .api_temp_td_2 {
    text-align: left;
    padding-left:10px;
}


/* .api_temp_section_wrapper_1 {
    display: none;
} */

.api_temp_section_wrapper_1 .api_temp_td_1 {
    width:130px !important;

}
.col_border_title_description_year {
    padding:15px;
}


}