
.api_page_ayum_hr .api_temp_section_1{
    padding-left: 6%;
    padding-right: 6%;
}
.api_page_ayum_hr .api_temp_section_1 .api_temp_2 {
    text-align: center;
    padding: 5px;
    font-size: 24px;
    text-transform: capitalize;
}

.api_page_ayum_hr .api_temp_section_1 .api_temp_3 {
    border: 1px solid #999999;
    padding: 15px;
    min-height:235px;    
}
.temp_hover{
    display: inline-block;
    color: #717171 !important;
}
.api_temp_section_1 .api_temp_col_1 .temp_hover:hover {
    color: #0a6ebd !important;
    cursor: pointer;
}
.api_page_ayum_hr .api_temp_section_1 .api_temp_4 {
    text-transform: uppercase;
    padding:0px;
    line-height: 1em;
}

.api_page_ayum_hr .api_temp_section_1 .api_temp_5 {
    text-transform: uppercase;
    padding:0px;
    padding-top:5px;
    padding-bottom:25px;
    line-height: 1em;
}
.api_page_ayum_hr .api_temp_section_2 .api_temp_3 {
    border: 1px solid #999999;
    padding: 15px;    
}
.api_page_ayum_hr .api_temp_section_2 .api_temp_td_1 {
    width:50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
}
.api_ja .api_page_ayum_hr .api_temp_section_2 .api_temp_td_1 {
    width:40%;
}
.api_page_ayum_hr .api_temp_section_2 .api_temp_table_1{
    width: 80% !important;
}



.api_page_ayum_hr .api_temp_section_3 .api_border_service_flow {
    border:1px solid #999999;
    width:800px;
    line-height: 1em;
    margin: auto;
}
.api_page_ayum_hr .api_temp_section_3 .api_tr_service_flow{
    background: #b7b7b7;
    border-right: 1px solid;
    border-bottom: 1px solid;
    text-align: center;
}
.api_page_ayum_hr .api_temp_section_3 .api_service_flow_step{
    font-weight: bold;
    color: white;
}
.api_page_ayum_hr .api_temp_section_3 .api_tr_content_border{
    border: 1px solid #E2E2E2;
    width: 32%;
    height: 90px;
}
.api_page_ayum_hr .api_temp_section_3 .api_tr_service_flow_2{
    background: #f3f3f3;
    text-align: center;
    padding: 5px;
    width: 20%;
    border-right: 1px solid;
    line-height: 1.3em;
}
.api_page_ayum_hr .api_temp_section_3 .api_img_service_flow{
    width: 40px;
}
.api_page_ayum_hr .api_temp_section_3 .api_font_size {
    text-align: left;
    
    padding-left:5px;
    width: 65%;
    line-height: 1.5em;
    font-size: 13px;
}
.api_page_ayum_hr .api_temp_section_3 .api_padding_border {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.api_page_ayum_hr .api_temp_section_3 .api_img_width_45{
    width:30%;
}
.api_page_ayum_hr .api_temp_section_3 .api_font_size_13{
    font-size: 13px;
}

.api_page_ayum_hr .api_temp_section_4 .api_rpo_service{
    background-color:#f5f5f5;
    margin: auto;
    width: 900px;
    text-align: center;
    padding:25px;
    /* height: 475px; */
    background-image: url('../image/background.png');
}
.api_page_ayum_hr .api_temp_section_4 .api_rpo_service_font_size{
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5em;
}
.api_page_ayum_hr .api_temp_section_4 .api_rpo_service_image{
    padding: 40px 110px 0px 40px;
    position: relative;
    text-align: center;
}
/* .api_page_ayum_hr .api_temp_section_4  */
.api_page_ayum_hr .api_temp_section_4 .api_rpo_service_border{
    border: 1px solid;width: 255px;height: 140px;
    line-height: 1.3;
}
.api_page_ayum_hr .api_temp_section_4 .api_rpo_service_tr_1{
    font-weight: bold;padding: 30px 15px 15px 15px;
}
.api_page_ayum_hr .api_temp_section_4 .api_rpo_service_tr_2{
    font-weight:bold;padding: 0px 15px 15px 15px;
}
.api_page_ayum_hr .api_temp_section_4 .api_rpo_service_tr_3{
    font-weight: bold;padding: 40px 15px 15px 15px;
}
.api_page_ayum_hr .api_temp_section_4 .api_rpo_service_tr_4{
    font-weight:bold;padding: 15px 15px 15px 15px;
}
.api_page_ayum_hr .api_temp_section_4 .api_rpo_service_tr_5{
    font-weight:bold;padding: 40px 15px 15px 15px;
}
.api_page_ayum_hr .api_temp_section_5 .api_temp_5{
    margin: auto;
    width: 900px;
}
.api_page_ayum_hr .api_temp_section_5 .api_display_text_middle{
    display: flex;
    align-items: center;
    justify-content: center;
}
.api_page_hr_banner{
    background-image: url('../../../../../assets/images/banner_2.jpg');
    height: 360px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.api_text_banner_padding{
    padding-left: 355px;
}
.api_banner_padding{
    padding: 20px;
    border: 3px solid #000;
}
.api_banner_padding:hover{
    color:#f44336 !important;
    border:3px solid #f44336;
}


.api_page_ayum_hr .api_temp_section_5 .service_flow_arrow_pointer_tr_1 {
    width: 250px;
    height: 50px;
    background: #d9ecd4;
    position: relative;
   }
.api_page_ayum_hr .api_temp_section_5 .service_flow_arrow_pointer_tr_1:before {
    content: '';
    position: absolute;
    right: -25px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 25px solid #d9ecd4;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
}
.api_page_ayum_hr .api_temp_section_5 .service_flow_arrow_pointer_tr_2 {
    width: 250px;
    height: 50px;
    background: #b6daac;
    position: relative;
   }
   .api_page_ayum_hr .api_temp_section_5 .service_flow_arrow_pointer_tr_2:after {
    content: '';
    position: absolute;
    left: 0; bottom: 0; width: 0; height: 0;
    border-left: 25px solid #d9ecd4;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
}
.api_page_ayum_hr .api_temp_section_5 .service_flow_arrow_pointer_tr_2:before {
    content: '';
    position: absolute;
    right: -25px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 25px solid #b6daac;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
}
.api_page_ayum_hr .api_temp_section_5 .service_flow_arrow_pointer_tr_3 {
    width: 250px;
    height: 50px;
    background: #69ac54;
    position: relative;
   }
   .api_page_ayum_hr .api_temp_section_5 .service_flow_arrow_pointer_tr_3:after {
    content: '';
    position: absolute;
    left: 0; bottom: 0; width: 0; height: 0;
    border-left: 25px solid #b6daac;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
}
.api_page_ayum_hr .api_temp_section_5 .service_flow_arrow_pointer_tr_3:before {
    content: '';
    position: absolute;
    right: -25px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 25px solid #69ac54;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
}
.api_page_ayum_hr .api_temp_section_5 .service_flow_arrow_pointer_tr_4 {
    width: 250px;
    height: 50px;
    background: #6e99e9;
    position: relative;
   }
.api_page_ayum_hr .api_temp_section_5 .service_flow_arrow_pointer_tr_4:after {
    content: '';
    position: absolute;
    left: 0; bottom: 0; width: 0; height: 0;
    border-left: 25px solid #69ac54;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
}
.api_page_ayum_hr .api_temp_section_5 .service_flow_arrow_pointer_tr_4:before {
    content: '';
    position: absolute;
    right: -25px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 25px solid #6e99e9;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
}
.api_page_ayum_hr .api_temp_section_5 .service_flow_arrow_pointer_tr_5 {
    width: 250px;
    height: 50px;
    background: #3e81c5;
    position: relative;
   }
.api_page_ayum_hr .api_temp_section_5 .service_flow_arrow_pointer_tr_5:after {
    content: '';
    position: absolute;
    left: 0; bottom: 0; width: 0; height: 0;
    border-left: 25px solid #6e99e9;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
}
.api_en .api_page_ayum_hr .api_view_as_blog_step .api_temp_title_1 {
    text-align: center;
    padding-left: 0px;
}
.api_ja .api_page_ayum_hr .api_view_as_blog_step .api_temp_title_1 {
    padding-left: 0px;
}
.api_page_ayum_hr .api_button_2{
    border: 3px solid #666666;
    font-size: 16px;
    text-align: center;
    padding: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 250px;
    margin-top:40px;
    margin-bottom:40px;
    display: inline-block;
    cursor: pointer;
    text-transform: capitalize;
}
.api_page_ayum_hr .api_button_2:hover{
    color:#f44336 !important;
    border:3px solid #f44336;
}
.api_page_ayum_hr .api_hr_line_height{
    line-height: 1.2em;
}

/*-contact-form-*/
.api_page_ayum_hr_form .api_temp_1 {
    background-color:#b7b7b7;
    padding:20px;
    color:#212121;
    text-align:center;
}
.api_page_ayum_hr_form .api_temp_2 {
    background-color:#d9d9d9;
    padding:15px;
}
.api_page_ayum_hr_form .api_temp_3 {
    height:150px;
    border:1px solid #212121;
    background-color:#fff;
    overflow-y: scroll;
    padding:5px;
}
.api_page_ayum_hr_form .api_temp_input {
    height:35px;
    border:0px;
    text-indent: 10px;
    width:100%;
    outline:0;
}
.api_page_ayum_hr_form .checkbox {
    display:inline-block !important;
    height:20px;
    width:20px;
    padding:5px;   
}
.api_page_ayum_hr_form .api_temp_textarea {
    height:100px;
    width:100%;
    text-indent: 5px;
    outline:0px;
}
.api_page_ayum_hr_form .api_temp_button_1 {
    width:150px;
    text-align: center;
    background-color:#999999;
    color:#212121;
    margin:auto;
    padding:10px;
    font-size:16px;
}
.api_page_ayum_hr_form .api_temp_td_3 {
    height: 35px;
    background-color: #fff;
    border: 0px;
    padding-left: 15px;
    padding-right: 5px;
}
.api_page_ayum_hr_form .api_temp_td_1 {
    height: 35px;
    background-color: #fff;
    border: 0px;
}
/*-contact-form-*/

.api_page_ayum_hr .api_view_as_blog_step table{
    height: 300px !important;
}
.api_hr_banner_contact_button{
    border: 3px solid #666666;
    font-size: 16px;
    text-align: center;
    padding: 15px;
    width: 195px;
    display: inline-block;
    cursor: pointer;
    text-transform: capitalize;
    color: #666666 !important;
}
.api_hr_banner_contact_button:hover{
    color:#f44336 !important;
    border:3px solid #f44336;
}
.api_text_header_banner{
    font-family: 'Arial', 'khmer','Kosugi Maru',sans-serif !important;
    color: #666666;
    font-size: 38px;
    font-weight: bold;
    word-wrap: break-word;
    line-height: 1.1em;
}
.api_page_ayum_hr .api_temp_section_5 .api_service_flow_font_size_15{
    font-size:15px
}


.api_page_ayum_hr .api_temp_section_3 .api_border_corner_service_flow {
    width: 250px;
    height: 90px;
    position: relative;
    border-bottom:1px solid #E2E2E2;
    border-top:1px solid #E2E2E2;
    border-left:1px solid #E2E2E2;
}
.api_page_ayum_hr .api_temp_section_3 .api_border_corner_service_flow:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 65px;
    height: 63.5px;
    border-bottom: 1px solid #E2E2E2;
    border-right: 1px solid #E2E2E2;
    top: 15%;
    left: 87%;
    transform: rotate(315deg);
}

.api_page_ayum_hr .api_temp_section_3 .api_border_corner_service_flow_2 {
    width: 140px;
    height: 96px;
    position: relative;
    border-bottom:1px solid #E2E2E2;
    border-top:1px solid #E2E2E2;
    border-left:1px solid #E2E2E2;
}
.api_page_ayum_hr .api_temp_section_3 .api_border_corner_service_flow_2:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 68.5px;
    height: 68px;
    border-bottom: 1px solid #E2E2E2;
    border-right: 1px solid #E2E2E2;
    top: 15%;
    left: 76%;
    transform: rotate(315deg);
}
.api_page_hr_banner .api_button_2 {
    border: 3px solid #666666;
    font-size: 16px;
    text-align: center;
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: auto;
    display: inline-block;
    cursor: pointer;
    /* text-transform: capitalize; */
    color: #666666 !important;
}
.api_page_hr_banner .api_button_2:hover{
    color:#f44336 !important;
    border:3px solid #f44336;
}

.api_temp_section_1 .api_temp_col_1 {
    padding:50px;
    padding-top:15px;
    padding-bottom:15px;
}

.api_en .api_temp_section_2 .api_temp_title_4 {
    font-size:24px;
    line-height: 1.2em;
}


/*-api_temp_section_wrapper_1-*/
.api_temp_section_wrapper_1 {
    max-width:950px;
    margin:auto;
}
.api_temp_section_wrapper_1 .api_temp_td_1 {
    width:180px;
    border:1px solid #ccc;
    border-left:0.7px solid #ccc;
    border-right:0.7px solid #ccc;

}
.api_temp_section_wrapper_1 .api_temp_td_2 {
    border:1px solid #ccc;
    border-left:0px;
}
.api_temp_section_wrapper_1 .api_temp_div_1 {
    background-color: #b7b7b7;
    color: #fff;
    text-align: center;
    height: 80px;
}
.api_temp_section_wrapper_1 .api_temp_div_2 {
    background-color: #f3f3f3;
    text-align: center;
    word-wrap: break-word;
    height: 100px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
}
.api_temp_div_1v{
    padding-top: 20px;
}
.api_en .api_temp_section_wrapper_1 .api_temp_div_3{
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
}

.api_ja .api_temp_section_wrapper_1 .api_temp_div_3{
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
}
/* .api_temp_section_wrapper_1 .api_temp_div_4{
    padding-left:150px;
} */
.api_temp_section_wrapper_1 .api_temp_div_4_v2{

    padding-left:35px;
}
.api_temp_section_wrapper_1 .api_temp_box_1{
    border: 1px solid #ccc;
    border-right: 0px;
    width:230px;
    height:70px;
    padding-left:15px;
    padding-right:0px;
}

.arrow_box {
	position: relative;
	background: #f3f3f3;
	border: 1px solid #f3f3f3;
    width:190px;
    height:80px;
}
.arrow_box:after, .arrow_box:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.arrow_box:after {
	border-color: rgba(NaN, 63, 63, 0);
	border-left-color: #f3f3f3;
	border-width: 20px;
	margin-top: -20px;
}
.arrow_box:before {
	border-color: rgba(NaN, 63, 63, 0);
	border-left-color: #f3f3f3;
	border-width: 41px;
	margin-top: -41px;
}

.arrow_box_2 {
	position: relative;
	background: #f3f3f3;
	border: 1px solid #f3f3f3;
    width:190px;
    height:80px;
    padding-left:5px;
    padding-right:5px;
}
.arrow_box_2:after, .arrow_box_2:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.arrow_box_2:after {
	border-color: rgba(NaN, 63, 63, 0);
	border-left-color: #f3f3f3;
	border-width: 20px;
	margin-top: -20px;
}
.arrow_box_2:before {
	border-color: rgba(NaN, 63, 63, 0);
	border-left-color: #f3f3f3;
	border-width: 41px;
	margin-top: -41px;
}


.api_temp_section_wrapper_1 .api_temp_box_1_after {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-left: 50px solid #212121;
    border-bottom: 25px solid transparent;
}

.api_temp_section_wrapper_1 .api_temp_icon_1 {
    width:40px;
    height: 44px;
}
.api_temp_section_wrapper_1 .api_temp_icon_1_v2 {
    width:40px;
    height: 30px;
}
.api_en .api_temp_section_wrapper_1 .api_temp_title_1 {
    padding-left:10px;
    font-size:12px;
    line-height: 1.2em;
}
.api_ja .api_temp_section_wrapper_1 .api_temp_title_1 div {
    padding-left:8px;
    font-size:12px;
    line-height: 1.2em;
    word-break: keep-all !important;
}
.api_temp_section_wrapper_1 .api_temp_box_12:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 50px;
    height: 50px;
    border-bottom: 1px solid #E2E2E2;
    border-right: 1px solid #E2E2E2;
    top: 0%;
    right: 0%;
    transform: rotate(315deg);
}
/*-api_temp_section_wrapper_1-*/
