
@media screen and (min-width: 100px) and (max-width:767px) {
    .api_page_ayum_hr .api_temp_section_4 .api_mb_screen_320_height_45{
        height: 45px !important;
    }
    .api_page_ayum_hr .api_temp_section_5 .api_mb_screen_320{
        height: 55px !important;
    }
    .api_page_ayum_hr .api_temp_section_5 .api_mb_screen_320_height{
        height:185px !important;
    }
    .api_page_ayum_hr .api_temp_section_5 .api_mb_screen_320_height_2{
        height:125px !important;
    }
    .api_page_ayum_hr .api_temp_section_5 .api_mb_screen_320_height_3{
        height:170px !important;
    }
    .api_page_ayum_hr .api_temp_section_5 .api_mb_screen_320_height_4{
        height:245px !important;
    }
    .api_page_ayum_hr .api_temp_section_5 .api_mb_screen_320_height_15{
        height: 15px;
    }
    .api_page_ayum_hr .api_temp_section_5 .api_mb_screen_320_height_30{
        height: 30px;
    }
    .api_page_ayum_hr .api_temp_section_4 .api_mb_screen_320_height_45{
        height: 45px !important;
    }
    .api_banner_height_30{
        height: 25px;
    }
    .api_banner_padding_left_50{
        padding-left:55px !important;
    }
    .api_text_header_banner{
        font-size: 9px;
    }
.api_page_hr_banner{
    background-image: url('../image/banner_2_mobile.jpg');
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;  

}
.api_page_ayum_hr .api_temp_section_1 .api_temp_2 {
    font-size:20px;
}
.api_page_ayum_hr .api_temp_section_2 .api_temp_3 {
    height:auto;      
}
.api_page_ayum_hr .api_temp_section_3 {
    padding-left:15px !important;
    padding-right:15px !important;
}
.api_page_ayum_hr .api_temp_section_3 .api_tr_service_flow {
    border-right: 0px;
}
.api_page_ayum_hr .api_temp_section_3 .api_tr_service_flow_2{
    border-right: 0px;
    border-bottom: 1px solid;
    padding: 10px;
}
.api_page_ayum_hr .api_temp_section_3 .api_border_padding {
    padding: 0px 20px 20px 20px;
}
.api_page_ayum_hr .api_temp_section_3 .api_tr_content_border {
    height: 70px;
    width: 48%;
}

.api_page_ayum_hr .api_temp_section_3 .api_img_width_45{
    /* width:100%; */
    width:50%;
}
.api_page_ayum_hr .api_temp_section_3 .api_border_service_flow{
    width:100% !important;
}
.api_page_ayum_hr .api_temp_section_3 .api_mobile_padding{
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
}
.api_page_ayum_hr .api_temp_section_3 .api_font_size {
    font-size: 10px;
    padding:0px;
}
.api_page_ayum_hr .api_temp_section_4 .api_rpo_service{
    background-image: url('../image/mobile_background.png');
    width: auto;
    background-repeat: no-repeat;
}
.api_page_ayum_hr .api_temp_section_4 {
    padding-left:15px !important;
    padding-right:15px !important;
}
.api_page_ayum_hr .api_temp_section_4 .api_font_size_25{
    font-size: 20px !important;
}
.api_page_ayum_hr .api_temp_section_4 .api_rpo_service_border{
    width: 294px;
    height: 130px;
}
.api_page_ayum_hr .api_temp_section_4 .api_rpo_service_tr_1{
    padding: 0px 15px 15px 15px;
}
.api_page_ayum_hr .api_temp_section_4 .api_rpo_service_font_size{
    font-size: 14px;
}
.api_page_ayum_hr .api_temp_section_4 .api_rpo_service_tr_5{
    padding: 0px 0px 15px 0px;
}
.api_page_ayum_hr .api_temp_section_5 {
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.api_page_ayum_hr .api_temp_section_5 .api_temp_5{
    width:auto;
}
.api_text_header_banner{
    font-size: 11px;
}
.api_hr_mobile_banner{
    background-image: url('../../../../../assets/images/123123.jpg') ;
    height: 60px;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
}
.api_banner_padding_2{
    font-size: 10px;
    background: white;border: 2px solid #000;
}
.api_banner_padding_2:hover{
    color:#f44336 !important;
    border:2px solid #f44336;
}
.api_page_ayum_hr .api_temp_section_5 .service_flow_arrow_pointer_tr_5{
    width: auto;
}

.api_page_ayum_hr .api_temp_section_5 .service_flow_arrow_pointer_tr_2:before{
    border-left: 0px;
    border-top:0px;
}
.api_page_ayum_hr .api_temp_section_5 .service_flow_arrow_pointer_tr_3:after{
    border-left: 0px;
    border-top:0px;
}
.api_page_ayum_hr .api_temp_section_5 .service_flow_arrow_pointer_tr_3{
    width:auto;
}
.api_page_hr_banner .api_big{
    font-size:20px;
}
.api_page_ayum_hr .api_temp_section_1{
    padding-left: 0;
    padding-right: 0;
}
.api_page_ayum_hr .api_large{
    font-size: 20px;
}
.api_banner_button_contact{
    display: inline-block;
    align-items: center;
    justify-content: center;
    border: 2px solid #666666;
    text-align: center;
    width: auto;
    font-size: 16px !important;
    text-transform: capitalize;
    padding:15px;
    padding-top:5px;
    padding-bottom:5px;
    margin-top:20px;
}
.api_banner_button_contact:hover{
    color:#f44336 !important;
    border:2px solid #f44336;
}
.api_banner_height_30{
    height: 30px;
}

.api_page_ayum_hr .api_view_as_blog_step .api_temp_title_1{
    padding-left: 0px;
}
.api_page_ayum_hr .api_temp_section_5 .api_service_flow_font_size_15{
    font-size:10px;
}

.api_service_flow {
    background: #ddd;
    background: -webkit-linear-gradient(135deg, transparent 0, #ddd 0), -webkit-linear-gradient(225deg, transparent 20px, #ddd 20px), -webkit-linear-gradient(315deg, transparent 20px, #ddd 20px), -webkit-linear-gradient(45deg, transparent 0, #ddd 0);
    background: -moz-linear-gradient(135deg, transparent 0, #ddd 0), -moz-linear-gradient(225deg, transparent 20px, #ddd 20px), -moz-linear-gradient(315deg, transparent 20px, #ddd 20px), -moz-linear-gradient(45deg, transparent 0, #ddd 0);
    background: -o-linear-gradient(135deg, transparent 0, #ddd 0), -o-linear-gradient(225deg, transparent 20px, #ddd 20px), -o-linear-gradient(315deg, transparent 20px, #ddd 20px), -o-linear-gradient(45deg, transparent 0, #ddd 0);
    background: linear-gradient(135deg, transparent 0, #ddd 0), linear-gradient(225deg, transparent 20px, #ddd 20px), linear-gradient(315deg, transparent 20px, #ddd 20px), linear-gradient(45deg, transparent 0, #ddd 0);
    background-position: top left, top right, bottom right, bottom left;
    background-size: 50.5% 50.5%;
    background-repeat: no-repeat;
    padding: 20px;
  }
  
  .api_service_flow_outline {
    padding: 1px;
  }
  
  .api_service_flow_2 {
    background: #fff;
    background: -webkit-linear-gradient(135deg, transparent 0, #fff 0), -webkit-linear-gradient(225deg, transparent 20px, #fff 20px), -webkit-linear-gradient(315deg, transparent 20px, #fff 20px), -webkit-linear-gradient(45deg, transparent 0, #fff 0);
    background: -moz-linear-gradient(135deg, transparent 0, #fff 0), -moz-linear-gradient(225deg, transparent 20px, #fff 20px), -moz-linear-gradient(315deg, transparent 20px, #fff 20px), -moz-linear-gradient(45deg, transparent 0, #fff 0);
    background: -o-linear-gradient(135deg, transparent 0, #fff 0), -o-linear-gradient(225deg, transparent 20px, #fff 20px), -o-linear-gradient(315deg, transparent 20px, #fff 20px), -o-linear-gradient(45deg, transparent 0, #fff 0);
    background: linear-gradient(135deg, transparent 0, #fff 0), linear-gradient(225deg, transparent 20px, #fff 20px), linear-gradient(315deg, transparent 20px, #fff 20px), linear-gradient(45deg, transparent 0, #fff 0);
    background-position: top left, top right, bottom right, bottom left;
    background-size: 50.5% 50.5%;
    background-repeat: no-repeat;
    padding: 10px;
  }
  .api_page_ayum_hr .api_temp_section_3 .api_border_corner_service_flow{
      /* width:120px; */
      width: 48%;
      height: 70px;
  }
  .api_page_ayum_hr .api_temp_section_3 .api_border_corner_service_flow:after{
    width: 50px;
    height: 50px;
    left: 185px;
    top:13%;
  }
.api_temp_section_1 .api_temp_col_1 {
    padding: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.api_page_hr_banner .api_big {
    font-size: 14px;
}
.api_page_ayum_hr .api_temp_section_1 .api_temp_2 {
    font-size: 16px;
}

.api_en .api_temp_section_2 .api_temp_title_4 {
    font-size: 20px;
}
.api_temp_section_wrapper_1 .api_temp_div_1 {
    background-color: #b7b7b7;
    color: #fff;
    text-align: center;
    height: 40px;
}
.api_temp_section_wrapper_1 .api_temp_div_3 {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 14px;
}
.api_temp_section_wrapper_1 .api_temp_td_2 {
    border: 1px solid #ccc;
    padding-bottom: 30px;
}
.api_temp_section_wrapper_1 .api_temp_div_2 {
    background-color: #f3f3f3;
    text-align: center;
    word-wrap: break-word;
    height: 50px;
}
.api_temp_section_wrapper_1 {
    max-width: 100%;
    margin: auto;
}


.arrow_box_3 {
	position: relative;
	background: #f3f3f3;
	border: 1px solid #f3f3f3;
    width:200px;
    height:80px;
    padding-left:15px;
    padding-right:0px;
}
.arrow_box_3:after {
	border-color: rgba(NaN, 63, 63, 0);
	border-left-color: #f3f3f3;
	border-width: 20px;
	margin-top: -20px;
}
.arrow_box_3:after, .arrow_box_3:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.arrow_box_3:before {
	border-color: rgba(NaN, 63, 63, 0);
	border-left-color: #f3f3f3;
	border-width: 41px;
	margin-top: -41px;
}
.api_page_ayum_hr .api_temp_section_5 .service_flow_arrow_pointer_tr_4:before{
    border-left: 0px solid #6e99e9;
}
.api_button_1 {
    width: auto;
    padding:10px;
    margin-top:20px;
}
.api_page_hr_banner .api_temp_td_1 {
    text-align: center;

}

@media screen and (min-width: 320px) and (max-width:320px) {
.api_temp_section_wrapper_1 .api_temp_td_2 {
    text-align: left;
    padding-left:15px;
}
.arrow_box_3 {
	position: relative;
	background: #f3f3f3;
	border: 1px solid #f3f3f3;
    width:200px;
    height:80px;
    padding-left:15px;
    padding-right:0px;
}
.api_ja .api_view_as_blog_step .api_temp_title_2 {
    font-size: 25px;
    line-height: 1.5em;
}
.api_view_as_blog_step .api_temp_title_3{
    padding: 0;
}
}

}