@media screen and (min-width: 1024px) and (max-width:1024px) {
.api_page_hr_banner {
    height:auto;
}
.api_hr_banner_contact_button{
    margin-bottom:20px;
}
.api_page_ayum_hr .api_temp_section_1 .api_temp_3 {
    min-height:270px;
}
.api_page_ayum_hr .api_temp_section_1 {
    padding-left:0px;
    padding-right:0px;
}
.api_page_ayum_hr .api_temp_section_2 {
    padding-left:15px;
    padding-right:15px;
}
.api_height_100{
    height: 45px;
}
.api_text_header_banner{
    font-size: 25px;
}
.api_text_banner_padding{
    padding-left: 265px;
}
.api_banner_padding{
    padding:15px
}

.api_page_ayum_hr .api_ipad_pro_padding{
    padding-left: 30px;
    padding-right: 30px;
}
.api_page_ayum_hr .api_temp_section_2 .api_temp_table_1{
    width: 100% !important;
}
.api_page_ayum_hr .api_temp_section_2 .api_temp_3 {
    height:auto;     
}
.api_temp_section_1 .api_temp_col_1 {
    padding: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.api_temp_section_wrapper_1 .api_temp_div_4_v2 {
    padding-left: 20px;
}

.api_page_ayum_hr .api_temp_section_4 .api_rpo_service {
    width:100%;
}
.api_page_ayum_hr .api_view_as_blog_step table {
    width:100%;
}
.api_page_ayum_hr .api_temp_section_5 .api_temp_5 {
    width:100%;
}


}