@media screen and (min-width: 768px) and (max-width:1023px) {
.api_page_ayum_for_jobseeker .api_temp_featured_wrapper table{
    width:750px;
    margin:auto;
}
.api_page_ayum_for_jobseeker .api_temp_featured_wrapper .api_temp_td_1 {
    width:366px;         
}
.api_page_ayum_for_jobseeker .api_temp_featured_wrapper .api_temp_td_2 {
    height: 500px;         
}


.api_page_ayum_for_jobseeker .api_temp_wrapper_1 .visible-sm .api_temp_td_1{
    width: 300px;
}
.api_page_ayum_for_jobseeker .api_temp_wrapper_1 .api_temp_sound {
    position: absolute;
    right: 150px;
    top: 20px;;
}
.api_ja .api_page_ayum_for_jobseeker .api_temp_wrapper_1 .api_temp_sound {
    position: absolute;
    right: 150px;
    top: -20px;;
}
.api_page_ayum_for_jobseeker .api_temp_wrapper_1 .api_temp_title_1 {
    display: inline-block;
    padding: 10px;
    right:120px;
    top:5px;
     width: 250px;
    margin-left: 72px;
    padding: 20px;
}
.api_page_ayum_for_jobseeker .api_temp_wrapper_1 .api_temp_title_3 {
    color: #000;
    font-size: 60px;
    font-weight: bold;
    right: 292px;
    top: 82px;
    
}
.api_page_ayum_for_jobseeker .api_temp_wrapper_1 .api_button_1:hover {
    color: #f44336 !important;
    border: 3px solid #f44336;
}
.api_page_ayum_for_jobseeker .api_temp_wrapper_1 .api_temp_title_2 {
    color: #000;
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}
.api_page_ayum_for_jobseeker .api_section_wrapper{
    padding: 0px;
}
.api_page_ayum_for_jobseeker .api_section_wrapper .api_view_as_blog_step{
    padding: 0px;
}
.api_page_ayum_for_jobseeker .api_section_wrapper .api_view_as_blog_step_v2{
    padding: 0px;
}
.api_page_ayum_for_jobseeker .api_section_wrapper .api_view_as_blog_step_v2 table{
    width:100% !important;
    margin:auto;  
}
.api_page_ayum_for_jobseeker .api_temp_wrapper_1{
    padding: 0px;
}
.api_section_wrapper .api_kh_padding {
    padding: 15px;
}
.api_page_ayum_for_jobseeker .api_section_wrapper .api_padding_kh{
    padding: 40px;
}
.api_welcome_table_wrapper .api_temp_title_1 {
    line-height: 1.3em;
    font-size: 19px;
}
.api_temp_banner .api_temp_td_1{
    height:180px;    
}
.api_temp_banner .api_button_1{
    padding:10px;
    margin-bottom:15px;
}
.api_welcome_table_wrapper {
    padding: 15px;
}

}