@media screen and (min-width: 100px) and (max-width:767px) {
.api_page_ayum_for_jobseeker .api_temp_featured_wrapper table{
    width:100%;
    margin:auto;
}
.api_page_ayum_for_jobseeker .api_temp_featured_wrapper .api_temp_td_1 {
    padding:15px;
}
.api_page_ayum_for_jobseeker .api_temp_featured_wrapper .api_temp_td_2 {
    height:260px;
}
.api_page_ayum_for_jobseeker .api_temp_featured_wrapper .api_temp_title_1 {
    font-size:16px;
}
.api_page_ayum_for_jobseeker .api_temp_featured_wrapper .api_temp_title_2 {
    font-size:20px;
}
.api_page_ayum_for_jobseeker .api_temp_featured_wrapper .api_temp_title_3 {
    font-size:15px;
}
.api_page_ayum_for_jobseeker .api_temp_arrow_down {
    padding-top:0px;
    padding-bottom:25px;
}

.api_page_ayum_for_jobseeker .api_temp_wrapper_1 .api_temp_sound {
    position: absolute;
    right: 70px;
    top: 30px;
}
.api_page_ayum_for_jobseeker .api_temp_wrapper_1 .api_temp_title_1 {
    display: inline-block;
    padding: 10px;
    font-size: 15px;
    padding: 15px;
    margin-left: -13px;
}
.api_page_ayum_for_jobseeker .api_temp_wrapper_1 .api_temp_title_2 {
    color: #000;
    font-size: 15px;
    margin-top: 14px
}
.api_page_ayum_for_jobseeker .api_temp_wrapper_1 .api_temp_title_3 {
    color: #000;
    font-size: 36px;
    font-weight: bold;
    right: 42px;
    top: 127px;
}
.api_page_ayum_for_jobseeker_1 .api_temp_title_2 {
    text-align: left;
    font-size: 12px;
}
.api_page_ayum_for_jobseeker .api_temp_wrapper_1 .api_temp_sound .api_image_sound{
    width: 30px;
    margin-top: 35px;
}
.api_page_ayum_for_jobseeker .api_temp_wrapper_1 .api_temp_title_1 {
    background-image: url(../image/image_8.PNG);
    display: inline-block;
    text-align: center;
    padding: 18px;
    width: 228px;
    height: 69px;
    background-size: 100%;
    background-repeat: no-repeat;
    font-size: 12px;
    margin-left: 10px
}
.api_page_ayum_for_jobseeker .api_temp_wrapper_1 .api_button_1:hover {
    color: #f44336 !important;
    border: 3px solid #f44336;
}
.api_page_ayum_for_jobseeker .api_temp_wrapper_1 .api_temp_title_2 .font_size_voice{
    font-size: 30px !important;
}
.api_page_ayum_for_jobseeker .api_temp_wrapper_1 .api_temp_title_2 {
    color: #000;
    font-size: 15px;
    text-align: center;
    margin-bottom: 20px;
}

.api_page_ayum_for_jobseeker .api_section_wrapper .api_view_as_blog_step_v2 table{
    width:100% !important;
    margin:auto;  
}
.api_page_ayum_for_jobseeker .api_section_wrapper .api_view_as_blog_step .api_kh_padding{
   padding: 0;  
}
.api_page_ayum_for_jobseeker .api_section_wrapper .api_view_as_blog_step_v2 .api_kh_padding{
   padding: 15px;  
}
.api_page_ayum_for_jobseeker .api_temp_wrapper_1{
    padding: 0px;
}
.api_page_ayum_for_jobseeker .api_temp_wrapper_1 .api_temp_td_3 {
    width: 310px;
    padding-bottom: 3px;
}
.api_page_ayum_for_jobseeker .api_temp_wrapper_1 .api_temp_td_2 {
    width: 160px;
    height: 150px;
}
.api_page_ayum_for_jobseeker .api_section_wrapper .api_view_as_blog_step{
    padding: 15px;
}
.api_section_wrapper .api_kh_padding{
    padding: 10px;
}

.api_welcome_table_wrapper .api_temp_title_1 {
    line-height: 1.3em;
}
.api_page_ayum_for_jobseeker .api_temp_wrapper_1 .api_temp_title_2 .font_size_voice {
    font-size:40px !important;
}
.api_page_ayum_for_jobseeker .api_temp_des_1 {
    font-size: 16px;
}
.api_ja .api_page_ayum_for_jobseeker .api_temp_wrapper_1 .api_temp_title_2 {
    font-size: 20px;
}
.api_ja .api_page_ayum_for_jobseeker .api_temp_wrapper_1 .api_temp_title_2 .font_size_voice {
    font-size: 40px !important;
}
.api_ja .api_page_ayum_for_jobseeker .api_temp_wrapper_1 .api_temp_sound {
    top: 30px;
    right: 50px;
}
.api_page_ayum_for_jobseeker_form .api_temp_2{
    padding:15px;
}
.api_page_ayum_for_jobseeker_form .api_temp_input{
    height:40px;
}
.api_page_ayum_for_jobseeker_form .api_temp_input {
    height: 40px;
}
.api_page_ayum_for_jobseeker_form .api_temp_td_1 {
    height: 40px;
    font-size:14px;
}
.api_page_ayum_for_jobseeker_form .api_temp_td_3 {
    height:40px;
    font-size:14px;
}

.api_page_ayum_for_jobseeker_form .api_temp_input_file {
    background-size: 30px;
}
.api_normal {
    font-size: 14px;
}
.api_ja .api_page_ayum_for_jobseeker .api_view_as_blog_step .api_temp_title_2{
    font-size:20px;
}
.api_temp_banner .api_temp_td_1{
    height:180px;    
}
.api_temp_banner .api_button_1{
    padding:5px;
    margin-bottom:15px;
    margin-left:55%;
}
.api_temp_banner{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.api_temp_banner .api_temp_td_1{
    height:150px;
}
.api_temp_banner .api_section_full{
    background-size: 100%;
    background-repeat: no-repeat;
}
.api_temp_banner .api_button_1 {
    padding: 5px;
    padding-right:10px;
    padding-left:10px;
    margin:0px;
    font-size:12px;
    margin-bottom: 3px;
    margin-right:10%;

}
.api_welcome_table_wrapper {
    padding: 10px;
}

}