.api_page_ayum_for_jobseeker_1 {
    background-color:#f3f3f3;

}

.api_page_ayum_for_jobseeker_1 .api_temp_title_1 {
    color:#4c4a49;
    line-height:1.7em;
    font-weight: bold;
    text-align: left;
}
.api_page_ayum_for_jobseeker_1 .api_temp_title_2 {
    text-align: left;
    margin-left: -30px;
}

.api_page_ayum_for_jobseeker .api_title_1 {
    letter-spacing: 0px;
}

.api_page_ayum_for_jobseeker .api_temp_featured_wrapper table{
    width:900px;
    margin:auto;
}
.api_page_ayum_for_jobseeker .api_temp_featured_wrapper .api_temp_td_1{
    background-color:#f3f3f3;
    text-align:center;
    padding-top:30px;
    padding-bottom:30px;
    padding-left:30px;
    padding-right:30px;
}

.api_page_ayum_for_jobseeker .api_temp_featured_wrapper .api_temp_title_1 {
    text-transform: capitalize;
}
.api_page_ayum_for_jobseeker .api_temp_featured_wrapper .api_temp_title_2 {
    text-transform: capitalize;
    font-size:24px;
    color:#cc4125;
}
.api_page_ayum_for_jobseeker .api_temp_featured_wrapper .api_temp_title_3 {
    text-align: left;
}
.api_page_ayum_for_jobseeker .api_temp_featured_wrapper .api_temp_td_2 {
    /* background-image:url('../../../../images/front_image_1.jpg'); */
    background-size:cover;
    width:400px;         
    padding:25px;
    padding-bottom:30px;
}
.api_page_ayum_for_jobseeker .api_temp_featured_wrapper .api_temp_number {
    font-size:60px;
    color:#fff;
    font-weight:bold;
}

.api_en .api_page_ayum_for_jobseeker .api_view_as_blog_step_v2 .api_temp_title_2{
    font-size:18px;
}

.api_page_ayum_for_jobseeker .api_temp_arrow_down {
    padding-top:10px;
    padding-bottom:15px;
    text-align: center;
}

.api_page_ayum_for_jobseeker .api_temp_wrapper_1 .api_temp_title_1 {
    background-image: url(../image/image_8.PNG);
    display: inline-block;
    text-align: center;
    padding: 18px;
    padding-top: 20px;
    width: 246px;
    height: 71px;
    background-size: 100%;
    background-repeat: no-repeat;
    font-size: 14px
}
.api_page_ayum_for_jobseeker .api_temp_wrapper_1 .api_temp_title_2 {
    color:#000;
    font-size:30px;
    text-align: left;
    margin-bottom: 20px;
}
.api_ja .api_page_ayum_for_jobseeker .api_temp_wrapper_1 .api_temp_title_2 {
    font-size:36px;
}
.api_page_ayum_for_jobseeker .api_temp_wrapper_1 .api_temp_title_2 .font_size_voice{
    font-size: 80px !important;
}
.api_ja .api_page_ayum_for_jobseeker .api_temp_wrapper_1 .api_temp_title_2 .font_size_voice {
    font-size: 120px !important;
}
.api_page_ayum_for_jobseeker .api_temp_wrapper_1 .api_temp_title_3 {
    color: #000;
    font-size: 60px;
    font-weight: bold;
    position: absolute;
    top: 90px;
    right: 140px;
}

.api_page_ayum_for_jobseeker .api_temp_wrapper_1 .api_temp_td_1 {
    float: left;
}
.api_page_ayum_for_jobseeker .api_temp_wrapper_1 .api_temp_td_2 {
    width:160px;
    height:150px;
}
.api_page_ayum_for_jobseeker .api_temp_wrapper_1 .api_temp_sound {
    position: absolute;
    right: 116px;
    top: -2px;
}
.api_page_ayum_for_jobseeker .api_temp_wrapper_1{
    padding: 0px;
}
.api_page_ayum_for_jobseeker .api_temp_wrapper_1 .api_temp_des_2 {
    text-align: justify;
}

.api_page_ayum_for_jobseeker .api_temp_wrapper_1 .api_temp_td_3 {
    width:310px;
}
.api_page_ayum_for_jobseeker .api_temp_wrapper_1 .api_temp_td_4 {
    width:160px;
}
.api_page_ayum_for_jobseeker .api_temp_des_1 {
    font-size:20px;
}
.api_page_ayum_for_jobseeker .api_temp_wrapper_1 .api_button_1 {
    border: 3px solid #666666;
    font-size: 16px;
    text-align: center;
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 7px;
    width: 240px;
    cursor: pointer;
    text-transform: none;
    color: #666666 !important;
}
.api_page_ayum_for_jobseeker .api_temp_wrapper_1 .year_text {
   text-align: right;
   padding-top: 20px;
}
.api_page_ayum_for_jobseeker .api_temp_wrapper_1 .api_button_1:hover {
    color: #f44336 !important;
    border: 3px solid #f44336;
}
.api_welcome_table_wrapper .api_temp_title_2 {
    text-align: left !important;
}
.api_welcome_table_wrapper .api_temp_title_1 {
    text-align: left !important;
}
.api_section_wrapper .api_kh_padding{
    padding: 30px;
}
.api_page_ayum_for_jobseeker .api_section_wrapper .api_padding_kh{
    padding: 30px;
}

/*-banner-*/
.api_temp_banner{
    background-color: #d9d9d9;
}
.api_temp_banner .api_section_full{
    background-size: 100%;
    background-repeat: no-repeat;
}
.api_temp_banner .api_temp_td_1{
    height:300px;
}
.api_temp_banner .api_button_1{
    padding:30px;
    padding-top:15px;
    padding-bottom:15px;
    width:auto;
    font-size:20px;
    color:#fff !important;
    border:3px solid #fff;
    margin-bottom:30px;
    margin-right:200px;
    float: right;

}
.api_temp_banner .api_button_1:hover {
    color:#e1e1e1 !important;
    border:3px solid #e1e1e1;
}
.api_temp_banner .api_temp_table_1 {
    width:100%;
    max-width:1366px;
    margin:auto;
}
/*-banner-*/

.iti--allow-dropdown input, .iti--allow-dropdown input[type=text], .iti--allow-dropdown input[type=tel], .iti--separate-dial-code input, .iti--separate-dial-code input[type=text], .iti--separate-dial-code input[type=tel] {
    padding-left: 37px !important;
}
.api_page_ayum_for_jobseeker  .api_button_2 {
    border: 3px solid #666666;
    font-size: 16px;
    text-align: center;
    padding: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 250px;
    display: inline-block;
    cursor: pointer;
}
.api_page_ayum_for_jobseeker .api_button_2:hover {
    color: #f44336 !important;
    border: 3px solid #f44336;
}
.api_button_1 {
    border: 3px solid #fff;
    font-size: 16px;
    text-align: center;
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: auto;
    display: inline-block;
    cursor: pointer;
    /* text-transform: capitalize; */
    color: #fff !important;
}
