@media screen and (min-width: 1024px) and (max-width:1024px) {
.api_page_ayum_for_jobseeker .api_temp_wrapper_1 .api_temp_title_3 {
    color: #000;
    font-size: 60px;
    font-weight: bold;
    position: absolute;
    top: 90px;
    right: 38px;
}
.api_page_ayum_for_jobseeker .api_temp_wrapper_1 .api_temp_sound {
    position: absolute;
    right: 63px;
}
.api_page_ayum_for_jobseeker .api_temp_wrapper_1 .api_button_1:hover {
    color: #f44336 !important;
    border: 3px solid #f44336;
}
.api_page_ayum_for_jobseeker .api_temp_wrapper_1 {
    padding: 30px;
}
.api_page_ayum_for_jobseeker .api_temp_wrapper_1 .api_temp_title_2 {
    color: #000;
    font-size: 25px;
    text-align: left;
    margin-bottom: 20px;
}
.api_page_ayum_for_jobseeker .api_view_as_blog_step{
    padding: 5px;
}
.api_welcome_table_wrapper .api_temp_td_2 {
    padding-top:5%;
    padding-right:0px;
}
.api_page_ayum_for_jobseeker .api_temp_wrapper_1 .api_temp_title_2 .font_size_voice {
    font-size: 60px !important;
}
.api_temp_banner .api_temp_td_1{
    height:240px;    
}


}