.api_admin_wrapper {
    position: relative;
}
.api_admin {
    position: relative;
    height:100%;
    overflow: hidden;
}
.api_admin_edit_wrapper td {
    background-color: transparent !important;
    background-image: none !important;
    border:none !important;
}
.api_admin_edit_wrapper li {
    margin-left:0px !important;
}
.api_admin_block {
    position: relative;
    display: inline-block;
}
.api_admin_button_edit {
    color:#fff !important;
    padding-left:5px;
    padding-right:3px;
    padding-top:0px;
    padding-bottom:0px;
    display:none;
    position:absolute;
    top:0px;
}
.api_admin_button_add {
    padding-left:7px;
    padding-right:6px;    
    top:0px;
}
.api_admin_button_delete {
    padding-left:7px;
    padding-right:6px;
    right:0px;
    top:0px;
}
.api_admin textarea {
    height:50px;
}
.api_admin_edit_wrapper {
    position:absolute;
    top:0px;
    left:0px;
    min-height:32px;
}
.api_admin_edit_wrapper:hover {
    background-image:url('../image/admin_edit_bg2.png');
    background-repeat:repeat;
}

/*-api_admin_header-*/
.api_admin_header .api_temp_table_1 {
    height:30px;
    background-color: #1d2327;
    color:#c3c4c7;
    font-size:13px;
    z-index: 99999;
    height: 30px;
    position: fixed;
    line-height: 2.46153846;
    top: 0;
    left: 0;
    width: 100%;
    font-weight: 400;
    direction: ltr;
}
.api_admin_header a {
    color:#c3c4c7;
}
.api_admin_header .api_temp_checkbox_1 {
    display:block; 
    width:18px; 
    height:18px; 
    cursor:pointer;
}
.api_modal_admin .modal-body {
    padding:0px;
    padding-top:15px;
    padding-bottom:15px;
}
.api_checkbox {
    display:inline-block !important;
    width:15px;
    height:15px;
    padding-top:2px;
}
.api_modal_admin .tab-pane .form-control{
    border-top:0px !important;
    border-top: 0px solid #ccc;
}
.nav>li, .nav>li>a {
    background-color: #f2f2f2;
}
.api_admin_language_a_link {
    color:#e9e9e9 !important;
    font-size:15px;
}
.api_admin_language_a_link_selected {
    color:#ff765a !important;
}

.api_admin_language_a_link:hover {
    color:#0096f6 !important;
}

/*-api_admin_header-*/
