@media screen and (min-width: 768px) and (max-width:1023px) {
.api_page_ayum_company .api_temp_title_3{
    font-size:26px;
}
.api_page_ayum_company .api_temp_title_4{
    font-size:14px;
}
.api_en .api_page_ayum_company .api_temp_title_3 {
    font-size: 32px;
    color: #212121;
    font-weight: bold;
}
.api_page_ayum_company .api_section .api_temp_col_1{
    margin-right: 15px;
}    
.api_page_ayum_company .api_section .api_temp_col_2{
    margin-left: 16px;
    width: 98%;
}
.api_page_ayum_company .api_section {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
}
.api_ja .api_page_ayum_company .api_temp_title_3 {
    font-size: 50px;
    color: #212121;
}
.api_ja .api_page_ayum_company .api_temp_title_4 {
    font-size: 15px;
    color: #212121;
    line-height: 1.7em;
}
.api_en .api_page_ayum_company .api_temp_title_4{
    font-size:16px;
}
.api_img_web_medium {
    width:400px;
    height:150px;
}


}