@media screen and (min-width: 100px) and (max-width:767px) {
.api_page_ayum_company .api_title_1 {
    font-size:22px;
}
.api_page_ayum_company .api_temp_1 {
    padding:10px;
}
.api_page_ayum_company .api_temp_5 {
    font-size: 20px;
}
.api_page_ayum_company .api_temp_4 {
    width: 120px;
}
.api_en .api_page_ayum_company .api_temp_title_4{
    font-size:14px;
}
.api_page_ayum_company .api_temp_col_1 {
    padding:0px;
}
.api_page_ayum_company #api_contact_map {
    height:350px;
}
.api_page_ayum_company .api_temp_title_2{
    font-size:18px;
}
.api_page_ayum_company .api_temp_title_3{
    font-size:26px;
}
.api_page_ayum_company .api_temp_title_4{
    font-size:11px;
}
.api_en .api_page_ayum_company .api_temp_title_3 {
    font-size: 28px;
}   
.api_page_ayum_company .api_temp_banner{
    background-image:url('../image/banner_mobile.png');
    background-size: cover;
}
.api_ja .api_page_ayum_company .api_temp_title_4 {
    font-size: 14px;
    color: #212121;
    line-height: 1.7em;
    padding: 20px;
}
.api_ja .api_page_ayum_company .api_temp_title_3 {
    font-size: 50px;
    color: #212121;
}
.api_img_web_medium {
    width:400px;
    height:230px;
}
.api_img_web_medium_v2{
    width:100%;
    height:300px;
}
.api_page_ayum_company .api_temp_title_5 {
    width:100%;
}

}