
/*
@import url('https://fonts.google.com/specimen/Antic+Slab#standard-styles');
*/
.api_en .api_page_ayum_company .api_temp_title_3{
    font-size:58px;
    color: #717171;;
    font-family: 'Antic Slab' !important;
    font-weight: bold;
}

.api_page_ayum_company .api_temp_1 {
    background-color:#666666;
    padding:20px;
    padding-left:30px;
    padding-right:30px;
    line-height:2.3em;
}
.api_page_ayum_company .api_temp_3 {
    color:#fff;
    /* text-transform: capitalize; */
    font-size:16px;
}
.api_page_ayum_company .api_temp_5 {
    font-size:24px;
}
.api_page_ayum_company .api_temp_4 {
    width:200px;
}
.api_page_ayum_company .api_big .appding_ .api_normal{
   text-align: center;
}
.api_page_ayum_company .api_text_align_center .api_kh_padding_left_45{
    padding-left: 45px;
}
.api_page_ayum_company .api_text_align_center .api_kh_padding_left_20{
    padding-left: 20px;
}
.api_page_ayum_company .api_temp_table_1 .api_big{
    line-height:1.2em;
    color: #717171;
}

.api_page_ayum_company .api_temp_title_2{
    font-size:28px;
    color: #666666;
}

.api_page_ayum_company .api_button_1{
    width:280px;
}

.api_page_ayum_company .api_temp_banner{
    background-image:url('../image/banner_1.jpg');
    background-size: cover;
}

.api_ja .api_page_ayum_company .api_temp_title_3{
    font-size:70px;
    color:#717171;
}
.api_en .api_page_ayum_company .api_temp_title_4{
    font-size:24px;
    color:#717171;
    line-height:1.3em;
    
}
.api_page_ayum_company .api_temp_title_4 {
    padding-left:15px;
    padding-right:15px;
}
.api_ja .api_page_ayum_company .api_temp_title_4{
    font-size:18px;
    color:#717171;
    line-height:1.7em;
}
.api_page_ayum_company .api_temp_2 .api_big {
    font-size: 20px;
}
.api_img_web_medium {
    width:600px;
    height:250px;

}
.api_img_web_medium_v2{
    width:400px;
    height:300px;
}
.api_page_ayum_company .api_temp_title_5 {
    text-align: center;
    width:768px;
    margin:auto;
}
