@media screen and (min-width: 1024px) and (max-width:1024px) {
.api_en .api_page_ayum_company .api_temp_title_3 {
    font-size: 42px;
    color: #212121;
    font-weight: bold;
}
.api_page_ayum_company .api_temp_title_4 {
    font-size: 18px;
    color: #212121;
    line-height: 1.3em;
}

.api_img_web_medium {
    width:600px;
    height:200px;
}
.api_img_web_medium_v2{
    width:100%;
    height:250px;
}

}