<h3>{logo}</h3><h4>Sale Details</h4><p>
    Hello {contact_person} {company},</p><p>

    Thank you so much for your order!! We have received your order. And we are preparing now.
    <br><br>
    Please find the attachment for your order ({order_id})
    details. Please visit {order_link} for order details.</p><p>
    Best regards,
    <br>
    {site_name}</p>
