@media screen and (min-width: 768px) and (max-width:1023px) {
.api_page_ayum_blog .api_temp_search {
    width: 100%;
    outline: 0px;
    border: 2px solid #bdbcbc;
    border-radius: 5px;
    height: 40px;
    text-indent: 5px;
}
.api_page_ayum_blog .api_temp_search_icon {
    position: absolute;
    right: 25px;
    top: 10px;
    z-index: 100;
}
}