
.api_page_ayum_blog .api_temp_1 {
    background-color:#efefef;
    border:1px solid #b7b7b7;
    text-align: center;
    cursor:pointer;
    width:150px;
    height:40px;
    padding:5px;
}
.api_page_ayum_blog .api_temp_1_selected {
    width:150px;
    height:40px;
    background-color:#f44336;
    border:1px solid #cf2114;
    color:#fff;
    text-align: center;
    cursor:pointer;
}
.api_page_ayum_blog .api_temp_1:hover {
    background-color:#f44336;
    color:#fff;
}
.api_page_ayum_blog .api_temp_1:hover a{
    color:#fff;
}
.api_page_ayum_blog .api_temp_1:hover {
    background-color:#f44336;
    border:1px solid #cf2114;
}
.api_page_ayum_blog .api_temp_1_selected a {
    color:#fff;
}



.api_display_blog .api_temp_view_all_wrapper{
    text-align:center;
}
.api_display_blog .api_temp_view_all{
    display:inline-block;
    margin:auto;
}

.api_display_blog .api_temp_title{
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
    text-align: left;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
}
.api_display_blog .api_temp_title_en {
    line-height: 1.7em;
    height: 3.4em;
}
.api_display_blog .api_temp_title_ja {
    line-height: 1.5em;
    height: 3em;
}
.api_display_blog .api_temp_image {
    color:#fff;
    text-transform: capitalize;
}
.api_display_blog .api_temp_image_title_bg {
    color:#fff;
    text-transform: capitalize;
    background-color:#999999;
    position:absolute;
    top:0px;
    right:0px;
    padding:5px;
    padding-left:10px;
    padding-right:10px;    
    width:auto;
    font-size:12px;
}
.api_display_blog .temp_index_number {
    position:absolute;
    top:0px;
    left:0px;
    width:20px;
    text-align: center;
    color:#212121;
    padding:0px;
    font-size:14px;    
}
.api_display_blog .temp_index_number_bg_1 {
    background-color:#fff2cc;
}
.api_display_blog .temp_index_number_bg_2 {
    background-color:#d9ead3;
}
.api_display_blog .temp_index_number_bg_3 {
    background-color:#c9daf8;
}
.api_display_blog .temp_index_number_bg_4 {
    background-color:#d9d2e9;
}
.api_display_blog .temp_index_number_bg_5 {
    background-color:#f4cccc;
}
.api_display_blog .api_temp_image_td {
    width:350px;

    padding-top:0px;
    padding-bottom:0px;
}
.api_display_blog .api_absolute_center {
    position: absolute;
    z-index:2;
    top: 50%;
    left: 20%;
    right: 20%;
    transform: translate(0%, 0%);    
}
.api_display_blog .api_temp_date {
    text-align:right;
    padding-top:15px;
}

.api_display_blog .api_temp_intro{
    line-height: 1.5em;
    height: 4.5em;
    overflow: hidden;
    text-align: left;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
}
.api_display_blog .api_temp_intro_en {
    line-height: 1.5em;
    height: 4.5em;
}
.api_display_blog .api_temp_intro_ja {
    line-height: 1.5em;
    height: 4.5em;
}

.api_display_blog .api_temp_title{
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
    text-align: center;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
}
.api_display_blog .api_temp_title_en {
    line-height: 1.5em;
    height: 3em;
}
.api_display_blog .api_temp_title_ja {
    line-height: 1.5em;
    height: 3em;
}
.ayum_blog_latest .api_temp_image_td {
    width:100px;
}
.ayum_blog_latest .api_intro{
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
    text-align: left;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
}

.api_page_ayum_blog .api_temp_title_1 {
    text-transform: uppercase;
    letter-spacing: 0px;
    display: inline-block;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 5px;
    border-bottom: 4px solid #666666;
    text-align: center;
    line-height:1em;
    font-size:30px;
}
.api_ayum_blog_detail .api_tag_box_1{
    border: 1px solid rgb(192, 172, 141);
    border-radius: 30px;
    padding: 2px 15px 2px 15px;
    text-align: center;
    float: left;
    white-space: nowrap;
    background-color:rgb(192, 172, 141);
    color: #fff;
    margin-left: 10px;
    margin-top: 7px;
    font-size: 12px;
}
.api_ayum_blog_detail .api_tag_box_1:hover{
    background-color: rgb(230, 186, 120);
    border: 1px solid rgb(230, 186, 120);
    cursor: pointer;
}
.api_ayum_blog_detail .api_tag_box_selected{
    cursor: pointer;
    border: 1px solid rgb(138, 108, 67);
    border-radius: 30px;
    padding: 2px 15px 2px 15px;
    text-align: center;
    float: left;
    white-space: nowrap;
    background-color:rgb(138, 108, 67);
    color: #fff;
    margin-left: 10px;
    margin-top: 7px;
    font-size: 12px;
}
.api_ayum_blog_detail .api_tag_box_selected:hover{
    background-color: rgb(230, 186, 120);
    border: 1px solid rgb(230, 186, 120);
    cursor: pointer;
}
blockquote {
    font-size: 16px;
    padding: 25px 36px;
    line-height: 36px;
    border:0px;
    background-color: #f7f9f9;
}
.api_ayum_blog_detail img {
    display: block;
    height: auto;
    max-width: 100%;
}
.api_ayum_blog_detail b, .api_ayum_blog_detail strong{
    color:#222;
}
.api_ayum_blog_detail {
    line-height:2em;
}

.api_display_blog table {
    table-layout:fixed;
}

.note-common-styles__textnote-body [embedded-service=external-article] .external-article-widget {
    display: table;
    width: 100%;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
}
.api_ayum_blog_detail a:hover {
    text-decoration: underline;
}
.api_ayum_blog_detail .table {
    border-radius:5px; 
    border:1px solid #eee; 
    display:inline-block; 
    padding:5px;
    width:auto;
}
.api_ayum_blog_detail .table td{
    vertical-align: top;
    padding:5px;
}
.api_ayum_blog_detail a{
    cursor:pointer;
}
.api_ayum_blog_detail figure img {
    max-height:200px;
}