@media screen and (min-width: 100px) and (max-width:767px) {
.api_temp_blog_news .api_temp_image_td {
    width:150px;

    padding-top:0px;
    padding-bottom:0px;
}
.api_page_ayum_blog .api_temp_search {
    width: 100%;
    outline: 0px;
    border: 2px solid #bdbcbc;
    border-radius: 5px;
    height: 40px;
    text-indent: 5px;
}
.api_page_ayum_blog .api_temp_search_icon {
    position: absolute;
    right: 25px;
    top: 10px;
    z-index: 100;
}
.api_display_blog .api_temp_date {
    text-align: right;
    padding-top: 0px;
    padding-bottom: 15px;
}

.api_page_ayum_blog .api_temp_1 {
    width:150px;
    height:40px;
}
.api_page_ayum_blog .api_temp_1_selected {
    width:150px;
    height:40px;
}
.api_display_blog .api_absolute_center {
    transform: translate(0%, 0%);    
}
}