.api_page_ayum_training .api_title_2{
    font-size: 18px;
    color:#999999;
    text-align: center;
    padding: 20px;
}
.api_page_ayum_training .api_temp_3a{
    padding-left:50px;
    padding-right:0px;        
}

.api_page_ayum_training .api_temp_bottom_1{
    display:inline-block;
    line-height:1.2em;
    margin:auto;
}
.api_page_ayum_training .api_temp_bottom_1:hover{
    color:#f44336;
    cursor:pointer;
}
.api_page_ayum_training .api_temp_2 {
    text-align: center;
    padding: 5px;
    text-transform:none;
    font-size: 22px;
    padding-top: 30px;
    color: #717171;
}
.api_page_ayum_training .api_temp_border_1 {
    border:1px solid #717171;
    padding:50px;
    padding-top:20px;
    padding-bottom:20px;
}
.api_page_ayum_training .api_temp_3 {
    border: 1px solid #999999;
    padding: 15px;
}



.api_page_ayum_training .api_section_wrapper{
    padding-left:15px;
    padding-right:15px;
}


.api_page_ayum_training .api_temp_wrapper_1 {
    padding-left:5%;
    padding-right:5%;
}
.api_page_ayum_training .api_temp_wrapper_1 .api_temp_td_2{
    background-color:#f3f3f3;
    padding:15px;
    line-height:1.2em;
    font-size:16px;
}
.api_page_ayum_training .api_temp_wrapper_1 .api_temp_td_1{
    height:100px;
    background-color:#f3f3f3;
}

.api_page_ayum_training .api_temp_wrapper_1 .api_temp_col_1{
    padding:30px;
}


/*-voice-*/
.api_page_ayum_training .api_temp_voice_wrapper {
    padding: 0px !important;
}
.api_page_ayum_training .api_temp_wrapper_1 .api_temp_title_1 {
    background-image: url(../image/image_8.PNG);
    display: inline-block;
    text-align: center;
    padding: 18px;
    padding-top: 20px;
    width: 246px;
    height: 71px;
    background-size: 100%;
    background-repeat: no-repeat;
    font-size: 14px;
}
.api_page_ayum_training .api_temp_wrapper_1 .api_temp_title_2 {
    color: #000;
    font-size: 30px;
    text-align: left;
    margin-bottom: 20px;
}
.api_page_ayum_training .api_temp_wrapper_1 .api_temp_title_2 .font_size_voice {
    font-size: 80px !important;
}
.api_page_ayum_training .api_temp_wrapper_1 .api_temp_sound {
    position: absolute;
    right: 116px;
    top: -2px;
}
.api_page_ayum_training .api_temp_wrapper_1 .api_temp_des_2 {
    text-align: left;
}
.api_page_ayum_training .api_temp_wrapper_1 .year_text {
    text-align: right;
    padding-top: 20px;
    padding-bottom: 5px;
}
/*-voice-*/

/*-banner-*/
.api_temp_banner{
    background-image:url('../image/banner.jpg');
    background-size: 100% 100%;
    background-repeat:no-repeat;
}


.api_button_2 {
    border: 3px solid #666666;
    font-size: 16px;
    text-align: center;
    padding: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 250px;
    display: inline-block;
    cursor: pointer;
}
.api_button_2:hover {
    color: #f44336 !important;
    border: 3px solid #f44336;
}
.api_temp_banner .api_button_1 {
    color:#fff !important;
    border-color:#fff !important;
    float:right;
    width:auto;
    padding:15px;
    padding-left:20px;
    padding-right:20px;
}
.api_temp_banner .api_button_1:hover {
    color:rgb(247, 158, 177) !important;
    border-color:rgb(247, 158, 177) !important;
}
.api_temp_banner .api_temp_div_1 {
    display:inline-block;
}

.api_temp_banner .api_temp_title_3 {
    font-size: 45px;
    color: #000;
}
.api_ja .api_temp_banner .api_temp_td_1 {
    height: 300px;
    padding-top: 2%;
}
.api_en .api_temp_banner .api_temp_td_1 {
    height: 300px;
}


.api_page_ayum_training .api_temp_wrapper_1 .api_kh_padding_v2{
    padding-left:  30px;
    padding-right:  30px;
}
.api_en .api_page_ayum_training .api_temp_3 .api_kh_font_size_18{
    font-size: 18px;
}

.api_page_ayum_training  .api_title_1 {
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 5px;
    border-bottom: 4px solid #666666;
    text-align: center;
    font-size: 30px;
    line-height: 1.2em;
    font-weight: bold;
    color: #666666;
}

/*-contact-form-*/
.api_page_ayum_training_form .api_temp_1 {
    background-color:#b7b7b7;
    padding:20px;
    color:#212121;
    text-align:center;
}
.api_page_ayum_training_form .api_temp_2 {
    background-color:#d9d9d9;
    padding:15px;
}
.api_page_ayum_training_form .api_temp_3 {
    height:150px;
    border:1px solid #212121;
    background-color:#fff;
    overflow-y: scroll;
    padding:5px;
}
.api_page_ayum_training_form .api_temp_input {
    height:35px;
    border:0px;
    text-indent: 10px;
    width:100%;
    outline:0;
}
.api_page_ayum_training_form .checkbox {
    display:inline-block !important;
    height:20px;
    width:20px;
    padding:5px;   
}
.api_page_ayum_training_form .api_temp_textarea {
    height:100px;
    width:100%;
    text-indent: 5px;
    outline:0px;
}
.api_page_ayum_training_form .api_temp_button_1 {
    width:150px;
    text-align: center;
    background-color:#999999;
    color:#212121;
    margin:auto;
    padding:10px;
    font-size:16px;
}
.api_page_ayum_training_form .api_temp_td_3 {
    height: 35px;
    background-color: #fff;
    border: 0px;
    padding-left: 15px;
    padding-right: 5px;
}
.api_page_ayum_training_form .api_temp_td_1 {
    height: 35px;
    background-color: #fff;
    border: 0px;
}
/*-contact-form-*/
.api_en .api_view_as_blog_step .api_temp_title_1 {
    text-transform: capitalize;
    text-align: center;
    padding-left: 0px;
}


