@media screen and (min-width: 100px) and (max-width:767px) {
.api_page_ayum_training .api_temp_border_1 {
    padding:0px;
}
.api_page_ayum_training .api_temp_3a{
    padding-left:0px;
    padding-right:0px;        
}
.api_page_ayum_training .api_temp_wrapper_1 {
    padding-left:0%;
    padding-right:0%;
}
.api_page_ayum_training .api_temp_2 {
    font-size: 18px;
}
.api_page_ayum_training .api_section_wrapper{
    padding-left:0px;
    padding-right:0px;
}
.api_page_ayum_training .api_temp_wrapper_1 .api_temp_td_1{
    height:auto;
}
.api_page_ayum_training .api_temp_wrapper_1 .api_temp_td_2{
    padding:0px;
    padding-left:15px;
    padding-right:15px;
}
.api_page_ayum_training .api_temp_wrapper_1 .api_temp_col_1{
    padding:15px;
    padding-top:30px;
}

/*-voice-*/
.api_page_ayum_training .api_temp_wrapper_1 .api_temp_sound {
    position: absolute;
    right: 70px;
    top: 30px;
}
.api_page_ayum_training .api_temp_wrapper_1 .api_temp_title_1 {
    display: inline-block;
    padding: 10px;
    font-size: 15px;
    padding: 15px;
    padding-top:23px;
}
.api_page_ayum_training .api_temp_wrapper_1 .year_text {
    text-align:left;
    padding:0px;
}
.api_page_ayum_training .api_temp_wrapper_1 .api_temp_title_2 {
    color: #000;
    font-size: 15px;
    margin-top: 14px
}
.api_page_ayum_training .api_temp_wrapper_1 .api_temp_title_3 {
    color: #000;
    font-size: 36px;
    font-weight: bold;
    right: 42px;
    top: 127px;
}
.api_page_ayum_training .api_temp_wrapper_1 .api_temp_sound .api_image_sound{
    width: 30px;
    margin-top: 35px;
}
.api_page_ayum_training .api_temp_wrapper_1 .api_button_1:hover {
    color: #f44336 !important;
    border: 3px solid #f44336;
}
.api_page_ayum_training .api_temp_wrapper_1 .api_temp_title_2 .font_size_voice{
    font-size: 30px !important;
}
.api_page_ayum_training .api_temp_wrapper_1 .api_temp_title_2 {
    color: #000;
    font-size: 15px;
    text-align: center;
    margin-bottom: 20px;
}

.api_page_ayum_training .api_temp_wrapper_1 .api_temp_title_2 .font_size_voice {
    font-size:40px !important;
}
.api_page_ayum_training .api_temp_des_1 {
    font-size: 16px;
}
.api_ja .api_page_ayum_training .api_temp_wrapper_1 .api_temp_title_2 {
    font-size: 20px;
}
.api_ja .api_page_ayum_training .api_temp_wrapper_1 .api_temp_title_2 .font_size_voice {
    font-size: 40px !important;
}
.api_ja .api_page_ayum_training .api_temp_wrapper_1 .api_temp_sound {
    top: 30px;
    right: 50px;
}
.api_en .api_temp_banner {
    background-image: url(../image/banner.jpg);
    background-size: 100% 100%;
    background-repeat:no-repeat;
}
.api_ja .api_temp_banner {
    background-image: url(../image/banner.jpg);
    background-size: 100% 100%;
    background-repeat:no-repeat;
}
.api_en .api_temp_banner .api_temp_td_1 {
    height: 30px;
    padding-top: 3%;
}
.api_ja .api_temp_banner .api_temp_td_1 {
    height: 30px;
    padding-top: 3%;
}
.api_en .api_temp_banner .api_temp_title_3 {
    font-size: 14px;
    color: #000;
    padding-top: 25px;
}
.api_ja .api_temp_banner .api_temp_title_3 {
    font-size: 13px;
    color: #000;
    padding-top: 25px;
    padding-left: 32px;
}
.api_en .api_button_1 {
    border: 3px solid #ffff;
    font-size: 10px;
    text-align: center;
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 6px;
    width: 103px;
    display: inline-block;
    cursor: pointer;
    text-transform: capitalize;
    color: #fff !important;
    margin-left: 186px;
    margin-bottom: 16px;
}
.api_ja .api_button_1 {
    border: 3px solid #ffff;
    font-size: 10px;
    text-align: center;
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 6px;
    width: 103px;
    display: inline-block;
    cursor: pointer;
    text-transform: capitalize;
    color: #fff !important;
    margin-left: 195px;
    margin-bottom: 16px;
}
.api_page_ayum_training .api_temp_wrapper_1 .api_kh_padding_v2 {
    padding-left: 15px; 
    padding-right: 15px; 
}
.api_page_ayum_training .api_title_1 {
    letter-spacing: 1px;
    display: inline-block;
    font-size: 14px;
    line-height: 1.2em;
    font-weight: bold;
    color: #666666;
}
.api_ja .api_page_ayum_training .api_view_as_blog_step .api_temp_title_2 {
    font-size: 30px;
}
.api_en .api_page_ayum_training .api_view_as_blog_step .api_temp_title_2 {
    text-transform: capitalize;
    font-size: 30px;
    color: #cc4125;
    line-height: 1.2em;
}
.api_button_1:hover {
    color: #f3a49e !important;
    border: 3px solid #f3a49e;
}
.api_page_ayum_training .api_title_2 {
    font-size: 16px;
    padding:0px;
    padding-bottom:15px;
    text-align: left;
}

.api_page_ayum_training .api_temp_title {
    text-align: left;
    padding-top: 0px;
}

/*-contact-form-*/
.api_page_ayum_training_form .api_temp_1 {
    font-size:12px;
}

.api_page_ayum_training_form .api_temp_1 {
    padding:5px;
}

.api_page_ayum_training_form .api_temp_button_1 {
    width: 100%;
    text-align: center;
    background-color: #999999;
    color: #212121;
    margin: auto;
    padding: 10px;
    font-size: 16px;
}
/*-contact-form-*/

/*-api_customer_voice_header-*/
.api_customer_voice_header .api_temp_title_1 {
    padding-left:3px;
    padding-right:3px;
}
.api_customer_voice_header .api_temp_voice {
    font-size: 30px !important;
}
/*-api_customer_voice_header-*/


}

