@media screen and (min-width: 1024px) and (max-width:1024px) {
.api_page_ayum_training .api_temp_3a{
    padding-left:20px;
    padding-right:0px;        
}
.api_page_ayum_training .api_temp_wrapper_1 {
    padding-left:15px;
    padding-right:15px;
}


/*-voice-*/
.api_page_ayum_training .api_temp_wrapper_1 .api_temp_title_3 {
    color: #000;
    font-size: 60px;
    font-weight: bold;
    position: absolute;
    top: 90px;
    right: 38px;
}
.api_page_ayum_training .api_temp_wrapper_1 .api_temp_sound {
    position: absolute;
    right: 63px;
}
.api_page_ayum_training .api_temp_wrapper_1 .api_temp_title_2 {
    color: #000;
    font-size: 25px;
    text-align: left;
    margin-bottom: 20px;
}
.api_page_ayum_training .api_temp_wrapper_1 .api_temp_title_2 .font_size_voice {
    font-size: 60px !important;
}
/*-voice-*/

.api_temp_banner .api_temp_title_3 {
    font-size: 32px;
    color: #000;
}
.api_ja .api_button_1 {
    border: 3px solid #ffff;
    font-size: 16px;
    text-align: center;
    padding: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 176px;
    display: inline-block;
    cursor: pointer;
    text-transform: capitalize;
    color: #fff !important;
    margin-top: 3%;
    margin-left: 520px;
}
.api_page_ayum_training .api_temp_border_1 {
    border: 1px solid #717171;
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
}
.api_page_ayum_training .api_temp_wrapper_1 .api_temp_col_1 {
    padding-right: 10px;
}
.api_en .api_button_1 {
    border: 3px solid #ffff;
    font-size: 16px;
    text-align: center;
    padding: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 180px;
    display: inline-block;
    cursor: pointer;
    text-transform: capitalize;
    color: #fff !important;
    margin-left: 470px;
    margin-top: 40px;
}
.api_button_1:hover {
    color: #f3a49e !important;
    border: 3px solid #f3a49e;
}

}