@media screen and (min-width: 768px) and (max-width:1023px) {
.api_page_ayum_training .api_temp_border_1 {
    padding:15px;
}
.api_page_ayum_training .api_temp_3a{
    padding-left:15px;
    padding-right:0px;        
}

.api_page_ayum_training .api_temp_2 {
    font-size: 18px;
}
.api_page_ayum_training .api_temp_wrapper_1 {
    padding-left: 2px;
    padding-right: 2px;
}
.api_page_ayum_training .api_temp_wrapper_1 .api_temp_col_1{
    padding:15px;
}
.api_page_ayum_training .api_temp_wrapper_1 .api_temp_td_2{
    font-size:16px;
}
.api_page_ayum_training .api_temp_wrapper_1 .api_temp_td_1{
    height:auto;
}
.api_page_ayum_training .api_temp_wrapper_1 .api_temp_td_2{
    padding:0px;
    padding-left:15px;
    padding-right:15px;
}

/*-voice-*/
.api_page_ayum_training .api_temp_wrapper_1 .visible-sm .api_temp_td_1{
    width: 300px;
}
.api_page_ayum_training .api_temp_wrapper_1 .api_temp_sound {
    position: absolute;
    right: 150px;
    top: 20px;;
}
.api_ja .api_page_ayum_training .api_temp_wrapper_1 .api_temp_sound {
    position: absolute;
    right: 150px;
    top: -20px;;
}
.api_page_ayum_training .api_temp_wrapper_1 .api_temp_title_1 {
    display: inline-block;
    padding: 10px;
    right:120px;
    top:5px;
     width: 250px;
    margin-left: 72px;
    padding: 20px;
}
.api_page_ayum_training .api_temp_wrapper_1 .api_temp_title_3 {
    color: #000;
    font-size: 60px;
    font-weight: bold;
    right: 292px;
    top: 82px;
    
}
.api_temp_banner .api_temp_title_3 {
    text-align: center;
    font-size: 25px;
    color: #000;
}
.api_page_ayum_training .api_temp_wrapper_1 .api_temp_title_2 {
    color: #000;
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}
.api_ja .api_temp_banner .api_temp_td_1 {
    height: 200px;
    padding-top: 4%;
}
.api_en .api_temp_banner .api_temp_td_1 {
    height: 200px;
    padding-top: 4%;
}
.api_ja .api_button_1 {
    border: 3px solid #ffff;
    font-size: 16px;
    text-align: center;
    padding: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 160px;
    display: inline-block;
    cursor: pointer;
    text-transform: capitalize;
    color: #fff !important;
    margin-top: 1%;
    margin-left: 382px;
}
.api_en .api_button_1 {
    border: 3px solid #ffff;
    font-size: 16px;
    text-align: center;
    padding: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 160px;
    display: inline-block;
    cursor: pointer;
    text-transform: capitalize;
    color: #fff !important;
    margin-top: 1%;
    margin-left: 382px;
}
.api_page_ayum_training .api_view_as_blog_step {
    padding: 0px;
}
.api_page_ayum_training .api_title_1 {
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 5px;
    border-bottom: 4px solid #666666;
    text-align: center;
    font-size: 25px;
}
.api_page_ayum_training .api_temp_wrapper_1 .api_kh_padding_v2 {
    padding-left: 15px; 
    padding-right: 15px; 
}
.api_button_1:hover {
    color: #f3a49e !important;
    border: 3px solid #f3a49e;
}
.api_page_ayum_training .api_section{
    padding: 15px;
}

}